{% extends 'layouts/app.html' %}
{% load static %}
{% block title %}
{{stuff.name}}
{% endblock %}
{% block content %}
<section class="course">
    <div class="container">
        <div class="course__row">
            <div class="course-sidebar">
                <div class="main-sidebar">
                    <h3 class="main-sidebar__title">
                        Информация о персонале
                        
                    </h3>
                    <div class="main-sidebar__list">
                        <div class="main-sidebar__item">
                            <div>
                                <i class="fas fa-calendar-alt"></i>
                                <span>Должность:</span>
                            </div>
                                <span>{{stuff.position.name}}</span>
                        </div>
                       
                        <div class="main-sidebar__item">
                           <div><i class="fas fa-clock"></i><span>Почта:</span></div>
                               <span>{{stuff.email}}</span>
                        </div>
                        <div class="main-sidebar__item">
                            <div><i class="fas fa-globe-europe"></i><span>Номер:</span></div>
                                <span>{{stuff.phone}}</span>
                        </div>
                        <div class="main-sidebar__item">
                            <div><i class="fas fa-chevron-double-up"></i><span>Адрес:</span></div>
                                <span>{{stuff.adress}}</span>
                        </div>
                        <div class="main-sidebar__item">
                            <div><i class="fas fa-graduation-cap"></i><span>Номер:</span></div>
                                <span>{{stuff.phone}}</span>
                        </div>
                        <div class="main-sidebar__item">
                            <div><i class="fas fa-graduation-cap"></i><span>Факультет:</span></div>
                                <span>{{stuff.facult.name}}</span>
                        </div>
                        
                        <div class="main-sidebar__item">
                            <div><i class="fas fa-graduation-cap"></i><span>Кафедра:</span></div>
                                <span>{{stuff.department.name}}</span>
                        </div>
                        <div class="main-sidebar__item">
                            <div><i class="fas fa-graduation-cap"></i><span>Оброзовательные программы:</span></div>
                                <span>
                                    {% for edu in stuff.educationalPrograms.all %}
                                    {{edu.name}} ,
                                    {% endfor %}
                                </span>
                        </div>
                        
                        <a  style="display: block;" class="btn"href="">Поставить лайк</a>                           
                   
                    </div>
                </div>
            </div>
            <div class="course-detail">
                <h1 class="course__main-title">
                    {{stuff.name}}
                </h1>
               
                <div class="course__tab-list">
                    <ul class="course-tab-btns">
                        <li class="course-tab-btn course-tab-btn--active">О Преподавателе</li>
                    </ul>
                    <div class="course-tab-content">
                        <h2 class="course-tab-title">
                            {{stuff.name}}
                        </h2>
                        <div class="course-tab__container">
                            <img class="course__main-img" src="{{ stuff.img.url }}" alt="">
                            <p class="course-tab-description">
                                {{stuff.about}}
                                
                                
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}