{% extends 'layouts/app.html' %}
{% load static %}
{% block title %}
{% load i18n %} 
{% load static i18n %}
{{stuff.name}}
{% endblock %}
{% block content %}
<section class="course">
    <div class="container">
        <div class="course__row">
            <div class="course-detail">
                <h1 class="course__main-title">
                    {{stuff.name}}
                </h1>
               
                <div class="course__tab-list">
                    <ul class="course-tab-btns">
                        <li class="course-tab-btn course-tab-btn--active">{% trans 'Мұғалім туралы' %}</li>
                    </ul>
                    <div class="course-tab-content">
                        <h2 class="course-tab-title">
                            {{stuff.name}}
                        </h2>
                        <div class="course-tab__container">

                            <p class="course-tab-description">
                                <img class="course__main-img" src="{{ stuff.img.url }}" alt="">
                                {{stuff.about}}
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
            {% if stuff.page.id == 8 %}
            {% else %}
            <div class="course-sidebar">
                <div class="main-sidebar">
                    <h3 class="main-sidebar__title">
                       {% trans 'Қызметкерлер туралы ақпарат' %}
                    </h3>
                    <div class="main-sidebar__list">
                        <div class="main-sidebar__item">
                            <div>
                                <i class="fas fa-calendar-alt"></i>
                                <span>{% trans 'Лауазым' %}:</span>
                            </div>
                                <span>{{stuff.position.name}}</span>
                        </div>
                       
                        <div class="main-sidebar__item">
                           <div><i class="fas fa-clock"></i><span>{% trans 'Пошта' %}:</span></div>
                               <span>{{stuff.email}}</span>
                        </div>
                        <div class="main-sidebar__item">
                            <div><i class="fas fa-globe-europe"></i><span>{% trans 'Нөмір' %}:</span></div>
                                <span>{{stuff.phone}}</span>
                        </div>
                        <div class="main-sidebar__item">
                            <div><i class="fas fa-chevron-double-up"></i><span>{% trans 'Мекен-жайы' %}:</span></div>
                                <span>{{stuff.adress}}</span>
                        </div>
                        <div class="main-sidebar__item">
                            <div><i class="fas fa-graduation-cap"></i><span>{% trans 'Факультет' %}:</span></div>
                                <span>{{stuff.facult.name}}</span>
                        </div>
                        
                        <div class="main-sidebar__item">
                            <div><i class="fas fa-graduation-cap"></i><span>{% trans 'Кафедра' %}:</span></div>
                                <span>{{stuff.department.name}}</span>
                        </div>
                        <div class="main-sidebar__item">
                            <div><i class="fas fa-graduation-cap"></i><span>{% trans 'Білім беру бағдарламалары' %}:</span></div>
                                <span>
                                    {% for edu in stuff.educationalPrograms.all %}
                                    {{edu.name}} ,
                                    {% endfor %}
                                </span>
                        </div>
                        
                        <a  style="display: inline-block;" class="btn"href="">{% trans 'Лүпіл қою' %}</a>                           
                   
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}