{% extends 'layouts/app.html' %}
{% load i18n %} 
{% load static i18n %}
{% load static %}
{% block title %}
{{department.name}}
{% endblock %}
{% block content %}
<section class="about-us-page">
    <div class="container">
        <div class="about-us-page__row">
            <div class="about-us-page__sidebar">
                <ul class="about-us-page__mainsidebar-list">
                    <li class="about-us-page__litem">{% trans 'Кафедраның қызметі' %}</li>
                    <li class="about-us-page__litem about-us-page__litem--active">{% trans 'Кафедра жайлы' %}</li>
                    <li class="about-us-page__litem">{% trans 'Білім беру бағдарламалары' %}</li>
                    <li class="about-us-page__litem">{% trans 'Кафедра оқытушылары' %}</li>
                    
                </ul>
            </div>
            <div class="about-us-page__content">
                <div class="about-us-page__item">
                    <h2 class="about-us-page__title">
                        {% trans 'Кафедраның қызметі' %} 
                    </h2>
                    <div class="activity-department__row">
                        {% for activityDepartment in activityDepartments %}
                        <article class="activity-department__item">
                            <h3 class="activity-department__title">
                                {{activityDepartment.title}}
                            </h3>
                            <p class="activity-department__desc">
                                {{activityDepartment.description}}
                            </p>
                            {% if activityDepartment.activityDepartmentFoto.all %}
                            <!-- Slider main container -->
                                <div class="swiper-container3">
                                    <!-- Additional required wrapper -->
                                    <div class="swiper-wrapper">
                                    <!-- Slides -->
                                    {% for foto in activityDepartment.activityDepartmentFoto.all %}
                                    <div class="swiper-slide">
                                        <img class="swiper-s-w-i" src="{{foto.photo.url}}" alt="">
                                    </div>
                                    {% endfor %}                   
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            {% endif %}
                        </article>
                        {% endfor %}
                        <div class="pagination">
                            <span class="step-links">
                                {% if activityDepartments.has_previous %}
                                    <a href="?page=1">&laquo; first</a>
                                    <a href="?page={{ activityDepartments.previous_page_number }}">previous</a>
                                {% endif %}
                        
                                <span class="current">
                                    Page {{ activityDepartments.number }} of {{ activityDepartments.paginator.num_pages }}.
                                </span>
                        
                                {% if activityDepartments.has_next %}
                                    <a href="?page={{ activityDepartments.next_page_number }}">next</a>
                                    <a href="?page={{ activityDepartments.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="about-us-page__item">
                    <h2 class="about-us-page__title">
                       {{department.name}}
                    </h2>
                    <p class="about-us-page__p">{{department.description}}</p>    
                </div>
                <div class="about-us-page__item">
                    <h2 class="about-us-page__title">
                        {% trans 'Білім беру бағдарламалары' %}
                    </h2>
                    <div class="grid-with-text">
                        {% for eduPro in eduPros %}
                        <div class="grid-with-text__item">
                            <img class="grid-with-text__img" src="{{ eduPro.img.url }}"/>
                            <div class="grid-with-text__text">
                                <h3 class="grid-with-text__title"><a class="grid-with-text__title" href="{% url 'eduProgDetailView' eduPro.slug %}">{{eduPro.name}}</a></h3>
                                <p class="grid-with-text__desc">{{ eduPro.description}}</p>
                                <div class="grid-with-text__span">
                                    <div class="grid-with-text__span-i">НКАОКО</div>
                                    <div class="grid-with-text__span-i">29.01.18-27.01.23 г</div>
                                    <div class="grid-with-text__span-i"><span>Шифр: </span>5В010300</div>
                                </div>
                            </div>       
                        </div>
                        {% endfor %}
                    </div>  
                </div>

                <div class="about-us-page__item">
                    <h2 class="about-us-page__title">
                        {% trans 'Кафедра оқытушылары' %}
                    </h2>
                    <div class="employee__row">
                        {% for staffEdu in staffEdus  %}
                        <div class="employee__item">
                            <img class="employee__img" src="{{staffEdu.img.url}}" alt="">
                            <div class="employee__text">
                                <div class="employee__name">{{ staffEdu.name}}</div>
                                <div class="employee__presidency"><a class="employee__presidency" href="{% url 'stuffDetailView' staffEdu.slug  %}">{{staffEdu.position.name}}</a></div>
                                <div class="employee__country">{{staffEdu.email}}</div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>   
                </div>
                
                
                
            </div>
        </div>
    </div>
</section>
{% endblock %}