{% extends 'layouts/app.html' %}
{% load static %}
{% load i18n %} 
{% load static i18n %}
{% block title %}
{{eduProgram.name}} {% trans '"ОРДА" университеті' %}
{% endblock %}
{% block content %}
<section class="course">
    <div class="container">
        <div class="course__row obb__row">
            <div class="course-sidebar">
                <div class="main-sidebar">
                    <h3 class="main-sidebar__title">
                        {% trans 'Білім беру бағдарламасы туралы ақпарат' %} {% trans '"ОРДА" университеті' %}
                    </h3>
                    <div class="main-sidebar__list">
                        <div class="main-sidebar__item">
                            <div>
                                <i class="fas fa-calendar-alt"></i>
                                <span>{% trans 'ДӘРЕЖЕСІ:' %}</span>
                            </div>
                                <span>{{eduProgram.cat.name}}</span>
                        </div>
                       
                        <div class="main-sidebar__item">
                           <div><i class="fas fa-clock"></i><span>{% trans 'Факультет:' %}</span></div>
                               <span>{{eduProgram.facult.name}}</span>
                        </div>
                        <div class="main-sidebar__item">
                            <div><i class="fas fa-globe-europe"></i><span>{% trans 'Кафедра:' %}</span></div>
                                <span>{{eduProgram.department.name}}</span>
                        </div>
                          
                        <a style="display: inline-block;" class="btn" href="">{% trans 'Лүпіл қою' %}</a>
                   
                    </div>
                </div>
            </div>
            <div class="course-detail">
                <h1 class="course__main-title">
                    {{eduProgram.name}}
                </h1>
                
               
                
                <div class="course__tab-list">
                    <ul class="course-tab-btns">
                        <li class="course-tab-btn course-tab-btn--active">{% trans 'Білім беру бағдарламасы туралы' %}</li>
                        <li class="course-tab-btn">{% trans 'Мұғалімдер' %}</li>
                        
                    </ul>
                    <div class="course-tab-content">
                        <h2 class="course-tab-title">
                            {{eduProgram.name}}
                        </h2>
                        <p class="course-tab-description">
                            {{eduProgram.description}}
                        </p>
                    </div>
                    <div class="course-tab-content">
                        <div class="employee__row">
                            {% for eduStuff in eduStuffs  %}
                            <div class="employee__item">
                                <img class="employee__img" src="{{eduStuff.img.url}}" alt="">
                                <div class="employee__text">
                                    <div class="employee__name"><a class="employee__presidency" href="{% url 'stuffDetailView' eduStuff.slug  %}">{{ eduStuff.name}}</a></div>
                                   
                                    <div class="employee__country">{{eduStuff.email}}</div>
                                </div>
                            </div>
                            {%endfor%}
                        </div> 
                    </div>
                    <!-- <div class="course-tab-content">
                        <h2 class="course-tab-title">
                            Course Description
                        </h2>
                        <p class="course-tab-description">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere nesciunt harum facilis odit inventore molestias qui asperiores recusandae architecto mollitia provident ipsa unde, praesentium impedit enim voluptate ducimus, saepe autem. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda optio sequi suscipit et modi! Corporis obcaecati rerum et, explicabo inventore, aliquid, odit modi harum libero culpa distinctio. Nemo, aliquid dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio earum accusantium quam eius dignissimos quaerat voluptatem excepturi aliquid dolor ducimus. Illo porro maiores fuga dignissimos temporibus odio nulla nobis nemo. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </p>
                    </div> -->
                </div>
            </div>
           
        </div>
    </div>
</section>
{% endblock %}