{% extends 'layouts/app.html' %}
{% load static %}
{% load i18n %} 
{% load static i18n %}
{% block title %}
{% trans 'Факультеты университета ORDA' %}
{% endblock %}
{% block content %}
<div style="margin-top: 0; padding-top: 3rem;" class="facult">
    <div class="container">
        <div class="facult__row mb-10">
            {% for facult in facults %}
            <div class="facult__item">
                <img src="{{ facult.photo.url }}" alt="">
                <div class="facult__text">
                    <h3 class="facult__title"><div><a href="{% url 'facultDetailView' facult.slug  %}">{{facult.name}}</a></div></h3>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%  endblock %}