{% extends 'layouts/app.html' %}
{% load i18n %}
{% load checkliked %}
{% load static %}
{% block title %}
{% trans "ORDA университеті" %}
{% endblock %}
{% block content %}
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% for slide in slides %}
      <div class="swiper-slide bg">
            <img class="swiper-slide__img" src="{{slide.img.url}}" alt="">
            <div class="swiper-slide__text">
                <div class="container">
                    <h3> {{slide.subTitle}}</h3>
                    <h2 class="mt-1">{{slide.title}}</h2>
                    <div class="mt-3">
                        <a class="btn" href="{{slide.link1}}">{{slide.btn}}</a>
                        <a class="btn btn--dark-blue" href="{{slide.link2}}">{{slide.btn2}}</a>
                    </div>     
                </div>
            </div>
      </div>
      {% endfor %}
    </div>
    
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    
  </div>

<section class="box-area">
    <div class="container">
        <div class="box-area__row">
            <a class="box-area__item__link" href="{% url 'opView' %}">
                <article class="box-area__item">
                <div class="box-area__icon">
                    <i style="color:rgb(255, 111, 111); font-size: 6rem;" class="fad fa-chevron-double-up"></i>
                </div>
                <div class="box-area__text">
                    <h3 class="box-area__title">{% trans 'Білім бағдарламалары' %}</h3>
                    <p class="box-area__description">{% trans 'Білім бағдарламаларын таңдаңыз' %}</p>
                </div>
            </article>
            </a>
            <a class="box-area__item__link" href="{% url 'libindex' %}">
                 <article class="box-area__item">
                    <div class="box-area__icon">
                        <i style="color:rgb(132, 71, 156); font-size: 6rem;" class="fad fa-book"></i>
                    </div>
                    <div class="box-area__text">
                        <h3 class="box-area__title">{% trans 'Заманауи кітапхана' %}</h3>
                        <p class="box-area__description">{% trans 'Ең жаңа кітаптардан қапы қалмаңыз' %}</p>
                    </div>
                </article>
            </a>
            <a class="box-area__item__link" href="">
                <article class="box-area__item">
                    <div class="box-area__icon">
                        <i  style="color:rgb(44, 151, 234); font-size: 6rem;" class="fad fa-file-certificate"></i>
                    </div>
                    <div class="box-area__text">
                        <h3 class="box-area__title">{% trans 'Білікті мамандар' %}</h3>
                        <p class="box-area__description">{% trans 'Білікіті мамандардан білім алыңыз' %}</p>
                    </div>
                </article>
            </a>


        </div>
    </div>
</section>

<section class="about-us mt-7">
    <div class="container">
        <div class="about-us__row">
            <div class="about-us__img">
                <img src="{% static '/img/swiumainpage.jpg' %}" alt="">
                <img class="about-us-a" src="{% static '/img/img2.jpg' %}" alt="">
                <a class="about-us-btnn" href="https://www.youtube.com/watch?v=_p-EjQdhGIU"><i class="orange fas about-us-svg fa-play"></i></a>
            </div>
            <div class="about-us__text">
                <h2 class="about-us__title">
                    {% trans 'SILKWAY Университетін таңдаудың 5 себебі' %}
                    <span><i class="far fa-check-circle"></i></span>
                </h2>
                <p class="about-us__desciption">
                   {% trans '1. Біз аккредиттелген жоғары оқу орнымыз' %} <br>
                   {% trans '2. Бізде - білім гранттары' %}<br>
                   {% trans '3. Бай материалдық-техникалық база' %}<br>
                   {% trans '4. Біз республикамыздағы ең үздік педагогикалық университетпіз' %}  <br>
                   {% trans '5. Студенттердің дамуына барлық жағдайлар жасалынған' %}
                </p>
                <div class="about-us__box">
                    <div class="about-us__box-item">
                        <h2 class="about-us__number orange">
                            9%
                        </h2>
                        <p class="about-us__box-text">{% trans 'Академиялық шетелдік студенттер' %}</p>
                    </div>
                    <div class="about-us__box-item">
                        <h2 class="about-us__number purple">
                            44+
                        </h2>
                        <p class="about-us__box-text">{% trans 'Білім беру бағдарламалары' %}</p>
                    </div>
                    <div class="about-us__box-item">
                        <h2 class="about-us__number blue">
                            4
                        </h2>
                        <p class="about-us__box-text">{% trans 'NR педагогикалық университеттеріндегі орны' %}</p>
                    </div>
                </div>
                <a class="btn about-us__btn mt-5" href="">{% trans 'Толығырақ' %}</a>
            </div>
        </div>
    </div>
    
</section>

<section class="testimonial-area">
    <div class="container">
        <div class="testimonial-area__row">
            <h2 class="testimonial-area__title">{% trans 'Біздің менеджерлер кеңес береді' %}</h2>
                <div class="swiper-container2">
                    <div class="swiper-wrapper">
                    {% for quote in quotes %}
                    <div class="swiper-slide">           
                        <div class="testimonial-area__item">
                            <div class="testimonial-area__text">
                                <h3>{{ quote.title }}</h3>
                                <p>{{ quote.description }}</p>
                            </div>
                            <div class="testimonial-area__writer">
                                <img src="{{ quote.img.url }}" alt="">
                                <div>
                                    <h2>{{quote.author}}</h2>
                            
                                </div>    
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>  
        </div>
    </div>
</section>

<section class="news-area">
    <div class="container">
        <div class="news-area__title">
            <h2>{% trans 'Жаңалықтар' %}</h2>
        </div>
        <div class="news">
            {% for post in posts %}
            <div class="news__item">
                <span class="news__date">{{ post.created_at|date:"d M Y" }}</span>
                {% if post.post_img.first %}
                    <div class="news__img">
                        <img src="{{post.post_img.first.img.url}}" alt="">
                    </div>
                    {% else %}
                    <div class="news__img">
                        <img src="{% static 'img/unnamedd.png' %}" alt="">
                    </div>
                    {% endif %}
                <div class="news__content">
                    <div class="news__header">
                        <h3><a class="news__title" href="{% url 'postDetailView' post.slug %}">{{ post.title}}</a></h3>
                    </div>
                    <div class="news__body">
                        <div class="news__desc">{% autoescape off %}{{post.description}}{% endautoescape %} </div> <a href="{% url 'postDetailView' post.slug %}">{% trans 'толығырақ' %}</a>
                    </div>
                    <div class="news__footer">
                        <div class="news__footer-item">
                            <i class="far fa-user"></i>
                            <span>{{post.author}}</span>
                        </div>
                        <div class="news__footer-item ">       
                                <input type="hidden" value="{{post.slug}}">
                                <button class="like_btn {% check post.id request.session.session_key %}" type="submit"><i class="none-click far fa-heart"></i></button>
                            <span class="none-click">{{ post.likes.count }}</span>
                        </div>
                    </div>
                </div>
            </div>
           
            {% endfor %}
           
        </div>
        <div class="btn-group mt-2">
            <a class="btn btn-block" href="{% url 'postListView' 1 %}"> <span><i class="fas fa-arrow-circle-left"></i></span> {% trans 'Барлық жаңалықтарды көру' %}</a>
        </div>
        
    </div>
</section>
<section class="news-area">
    <div class="container">
        <div class="news-area__title">
            <h2>{% trans 'Хабарландырулар' %}</h2>
        </div>
        <div class="news">
            {% for post in ads %}
            <div class="news__item">
                <span class="news__date">{{ post.created_at|date:"d M Y" }}</span>
                {% if post.post_img %}
                <div class="news__img">
                    <img src="{{post.post_img.first.img.url}}" alt="">
                </div>
                {% else %}
                <div class="news__img">
                    <img src="{% static 'img/unnamedd.png' %}" alt="">
                </div>
                {% endif %}
                <div class="news__content">
                    <div class="news__header">
                        <h3><a class="news__title" href="{% url 'postDetailView' post.slug %}">{{ post.title}}</a></h3>
                    </div>
                    <div class="news__body">
                        <div class="news__desc">{% autoescape off %}{{post.description}}{% endautoescape %} <a href="{% url 'postDetailView' post.slug %}">{% trans 'толығырақ' %}</a></div>
                    </div>
                    <div class="news__footer">
                        <div class="news__footer-item">
                            <i class="far fa-user"></i>
                            <span>{{post.author}}</span>
                        </div>
                        <div class="news__footer-item ">
                                <input type="hidden" value="{{post.slug}}">
                                <button class="like_btn" type="submit"><i class="none-click red far fa-heart"></i></button>
                            <span class="none-click">{{ post.likes.count }}</span>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
        <div class="btn-group mt-2">
            <a class="btn btn-block" href="{% url 'postListView' 1 %}"> <span><i class="fas fa-arrow-circle-left"></i></span> {% trans 'Барлық Хабарландыруларды көру' %}</a>
        </div>
    </div>
</section>

{% endblock %}