{% extends 'layouts/app.html' %}
{% load static %}
{% block title %}
Международный Университет SILKWAY
{% endblock %}
{% block content %}

            
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide bg">
            <img class="swiper-slide__img" src="{% static 'img/1593617345.jpeg' %}" alt="">
            <div class="swiper-slide__text">
                <div class="container">
                    <h3>SILKWAY Международный университет 1992</h3>
                    <h2 class="mt-1">Достойное образование для будущих профессионалов</h2>
                    <div class="mt-3">
                        <a class="btn" href="">Наши факультеты</a>
                        <a class="btn btn--dark-blue" href="">Связаться</a>
                    </div>     
                </div>
            </div>
      </div>
      <div class="swiper-slide bg">
        <img class="swiper-slide__img" src="{% static 'img/unnamed.jpg' %}" alt="">
        
        <div class="swiper-slide__text">
            <div class="container">
                <h3>Достойное образование для будущих профессионало</h3>
                <h2 class="mt-1">SILKWAY Международный университет 1922</h2>
                <div class="mt-3">
                    <a class="btn" href="">Наши факультеты</a>
                    <a class="btn btn--dark-blue" href="">Связаться</a>
                </div>     
            </div>
        </div>
  </div>
      
    </div>
    
  
    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  
    <!-- If we need scrollbar -->
    
  </div>

<section class="box-area">
    <div class="container">
        <div class="box-area__row">
            <article class="box-area__item">
                <div class="box-area__icon">
                    <i style="color:rgb(255, 111, 111); font-size: 6rem;" class="fad fa-chevron-double-up"></i>
                </div>
                <div class="box-area__text">
                    <h3 class="box-area__title">Популярные ОП</h3>
                    <p class="box-area__description">Лучшие оброзовательные программы</p>
                </div>
            </article>
            <article class="box-area__item">
                <div class="box-area__icon">
                    <i style="color:rgb(132, 71, 156); font-size: 6rem;" class="fad fa-book"></i>
                </div>
                <div class="box-area__text">
                    <h3 class="box-area__title">Современная библиотека</h3>
                    <p class="box-area__description">Лучшие оброзовательные программы библиотека</p>
                </div>
            </article>
            <article class="box-area__item">
                <div class="box-area__icon">              
                    <i  style="color:rgb(44, 151, 234); font-size: 6rem;" class="fad fa-file-certificate"></i>
                </div>
                <div class="box-area__text">
                    <h3 class="box-area__title">Квалифицированные специалисты</h3>
                    <p class="box-area__description">Лучшие оброзовательные программы</p>
                </div>
            </article>
        </div>
    </div>
</section>

<section class="about-us mt-7">
    <div class="container">
        <div class="about-us__row">
            <div class="about-us__img">
                <img src="{% static '/img/about-1.jpg' %}" alt="">
                <img class="about-us-a" src="{% static '/img/about-1.jpg' %}" alt="">
            </div>
            <div class="about-us__text">
                <h2 class="about-us__title">
                    We Have Experienced Professionals & We Do Our Best To Achieve Your Goal. Your Happiness Is Our First Priority.
                </h2>
                <p class="about-us__desciption">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis error ut provident vel repellendus nihil atque possimus aliquam, mollitia tempora neque voluptate debitis illum veniam.Numquam blanditiis dignissimos laboriosam illum ut officia.
Nam aperiam autem nesciunt perferendis id. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas nulla sequi pariatur quam animi ipsum molestias assumenda cumque.
                </p>
                <div class="about-us__box">
                    <div class="about-us__box-item">
                        <h2 class="about-us__number orange">
                            970+
                        </h2>
                        <p class="about-us__box-text">Happy Students</p>
                    </div>
                    <div class="about-us__box-item">
                        <h2 class="about-us__number purple">
                            130+
                        </h2>
                        <p class="about-us__box-text">Teachers</p>
                    </div>
                    <div class="about-us__box-item">
                        <h2 class="about-us__number blue">
                            130+
                        </h2>
                        <p class="about-us__box-text">Courses</p>
                    </div>
                </div>
                <a class="btn about-us__btn mt-5" href="">Read more</a>
            </div>
        </div>
    </div>
    
</section>

<section class="testimonial-area">
    <div class="container">
        <div class="testimonial-area__row">
            <h2 class="testimonial-area__title">Lets See What Our Valuable Students Think About Us. Their Testimonials.</h2>
            
                <!-- Slider main container -->
                <div class="swiper-container2">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                    <!-- Slides -->
                    {% for quote in quotes %}
                    <div class="swiper-slide">           
                        <div class="testimonial-area__item">
                            <div class="testimonial-area__text">
                                <h3>{{ quote.title }}</h3>
                                <p>{{ quote.description }}</p>
                            </div>
                            <div class="testimonial-area__writer">
                                <img src="{{ quote.img.url }}" alt="">
                                <div>
                                    <h2>{{quote.author}}</h2>
                                <p>Президент</p>
                                </div>    
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    

                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                </div>
         
            
        </div>
    </div>
</section>

<section class="news-area">
    <div class="container">
        <div class="news-area__title">
            <h2>Последние новости университета SILKWAY</h2>
        </div>
        <div class="news">
            {% for post in posts %}
            <div class="news__item">
                <div class="news__img">
                    <img src="{{post.post_img.first.img.url}}" alt="">
                </div>
                <div class="news__content">
                    <div class="news__header">
                        <span>{{ post.created_at }}</span>
                        <h3 class="news__title"><a class="news__title" href="{% url 'postDetailView' post.slug %}">{{ post.title}}</a></h3>
                    </div>
                    <div class="news__body">
                        <p>{{post.description}}</p>
                    </div>
                    <div class="news__footer">
                        <div class="news__footer-item">
                            <i class="far fa-user"></i>
                            <span>{{post.author}}</span>
                        </div>
                        
                        <div class="comment news__footer-item">
                            <input type="hidden" value="{{post.slug}}">
                                <i class="none-click far fa-comments"></i>
                                <input type="hidden" value="{{post.slug}}">
                                <span class="none-click">{{ post.post_com.count }}</span>
                            
                            <div class="news__comment hide">
                                <input class="comment_title review__form" placeholder="Пишите свой коммент">
                                <input value="{{post.slug}}" class="comment_url" type="hidden">
                                <button class="btn comment_btn">Отправить</button>
                                <ul class="lastComments">
                                    
                                </ul>
                            </div>
                        </div>
                        <div class="news__footer-item ">       
                                <input type="hidden" value="{{post.slug}}">
                                <button class="like_btn" type="submit"><i class="none-click far fa-heart"></i></button>            
                            <span class="none-click">{{ post.likes.count }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<script>
    const mainsiteurl = "https://swiu.online"
    const likeBtn = document.querySelectorAll('.like_btn');
    likeBtn.forEach(e=>{
        e.addEventListener('click',btn=>{
            btn = btn.target;
            if (btn.classList.contains('like_btn')){
                var url = btn.previousElementSibling.value;
                var likeCount = btn.nextElementSibling;
                let myData = {
                    'slug':url,
                    'session_key':"{{request.session.session_key}}"
                }
                fetch(mainsiteurl+"/creative/post/like",{
                    method:"POST",
                    headers: {
                        "Content-type": "application/x-www-form-urlencoded; charset=UTF-8",
                        "X-CSRFToken": "{{csrf_token}}"
                    },
                    body: JSON.stringify(myData)
                })
                .then(function (data) {
                console.log('Request succeeded with JSON response', data);
                })
                .then(view)
                .catch(function (error) {
                    console.log('Request failed', error);
                });
                }
                function view(){
                    fetch(mainsiteurl+"/creative/post/likecount/"+url)
                    .then(response => response.json())
                    .then(likes => likesf(likes))

                    function likesf(datalike){
                        const dataliker = datalike;
                        likeCount.innerHTML = dataliker.like
                    }

                }

                
        });
    });
    const comment = document.querySelectorAll('.comment')
    comment.forEach(com=>{
        com.addEventListener('click',(com)=>{
            com = com.target;
            if (com.classList.contains('comment')){
                changer = com.lastElementChild;
                changer.classList.toggle('hide');
                url = com.firstElementChild.value;
                lastComments = changer.lastElementChild;
                fetch(mainsiteurl+'/creative/comments/'+url)
                .then(response => response.json())
                .then(commits => view(commits))

                function view(data){
                    data = data.comments;
                    lastComments.innerHTML = "";
                    data.forEach(e=>{
                        li = document.createElement('li');
                        li.innerHTML = e.author+": "+e.description;
                        lastComments.append(li)
                    });
                    
                }
               
            }
        })
    })

    

    const btn = document.querySelectorAll('.comment_btn')

    btn.forEach((e)=>{
        e.addEventListener('click',(com)=>{
            com = com.target
            let lastComments = com.nextElementSibling;
            let url = com.previousElementSibling.value;
            let count = com.parentElement.previousElementSibling;
            let desciption = com.previousElementSibling.previousElementSibling.value;
            console.log(count);

            let myData = {
                'slug': url,
                'desciption':desciption
            }

            fetch(mainsiteurl+'/creative/comments/add', {
            method: 'post',
            credentials: 'same-origin', 
            headers: {
                "Content-type": "application/x-www-form-urlencoded; charset=UTF-8",
                "X-CSRFToken": "{{csrf_token}}"
            },
            body: JSON.stringify(myData)
            })
            .then(function (data) {
                console.log('Request succeeded with JSON response', data);
            })
            .then(view)
            .catch(function (error) {
                console.log('Request failed', error);
            });

            function view(){
                li = document.createElement('li');
                li.innerHTML = "{{request.user.username}}"+": "+myData.desciption;
                lastComments.append(li);
                desciption.value = "";
                a = parseInt(count.innerHTML);
                count.innerHTML = a + 1;
            }

        })
    });





  

//   fetch('http://127.0.0.1:8000/creative/comments/add', {
//     method: 'post',
//     credentials: 'same-origin', 
//     headers: {
//       "Content-type": "application/x-www-form-urlencoded; charset=UTF-8",
//       "X-CSRFToken": "{{csrf_token}}"
//     },
//     body: JSON.stringify(myData)
//   })
//   .then(function (data) {
//     console.log('Request succeeded with JSON response', data);
//   })
//   .catch(function (error) {
//     console.log('Request failed', error);
//   });
//         fetch('http://127.0.0.1:8000/creative/comments/')
//   .then(response => response.json())
//   .then(commits => console.log(commits));
</script>
{% endblock %}