{% extends 'layouts/apppage.html' %}

{% load static %}
{% block content %}

    <section class="main">
        <input type="hidden" value="{{csrf_token}}" id="csrf_token">
        <div class="container">
            <div class="main-grid">
                <div class="sidebar">
                    <h2 class="lined-title">Категорий страницы </h2>
                    <ul class="sidebar__nav">
                        {% for category in categories %}
                        {% url 'pageListView' category.id as urltolist %}
                        <li class="sidebar__nav-item"><a class="sidebar__nav-link {% if request.path == urltolist %}active {% endif %}" href="{{urltolist}}">{{category.name}}</a></li>
                        {% endfor %}
                       
                    </ul>
                </div>
                <div class="page-detail">
                    <h2 class="lined-title">Страницы категорий Наука <span><a href="">Создать новую</a></span></h2>
                    <div class="pagelist" id="page-group">
                        {% for page in pages %}
                        <div class="pagelist__item" data-pk="{{page.id}}">
                            <div>
                                <h3 class="pagelist__title"><span class="pagelist__i">{{page.id}}</span> <a href="{% url 'pageDetailView' page.id %}">{{ page.title }}</a> </h3>
                            </div>
                            <div>
                                <span class="pagelist__icon"><img width="24px" src="{% static 'page/img/menu.svg' %}" alt=""></span>
                                <span class="pagelist__icon"><img width="24px" src="{% static 'page/img/trash.png' %}" alt=""></span>
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}