{% extends 'layouts/apppage.html' %}
{% load static %}
{% load widgetRender %}
{% block content %}

<div class="main">
    <input type="hidden" value="{{csrf_token}}" id="csrf_token">
   
    <div class="container">
        <div class="main-grid">
            <div class="sidebar">
                <h2 class="lined-title">Создать страницу</h2>
                <div id=sidebar__btn class="sidebar__btn">
                    <img src="{% static 'page/img/add.png' %}" alt="">
                </div>
                <div id=widgets class="widgets">
                    <div class="widget__item">
                        <div class="widget__item-title">
                            <h2>Текст с загаловком</h2>
                            <div><img width="25px" src="{% static 'page/img/title.png' %}" alt=""></div>
                        </div>
                        <p class="widget__item-desc">
                            Решением ННС 02.02.2018 года по подпрограмме 102 «Грантовое финансирование научных исследований» 
                        </p>
                    </div>
                    <div class="widget__item">
                        <div class="widget__item-title">
                            <h2>Просто текст без загаловки</h2>
                            <div><img width="25px" src="{% static 'page/img/title.png' %}" alt=""></div>
                        </div>
                        <p class="widget__item-desc">
                            Решением ННС 02.02.2018 года по подпрограмме 102 «Грантовое финансирование научных исследований» 
                        </p>
                    </div>
                    <div class="widget__item">
                        <div class="widget__item-title">
                            <h2>Фото вместо текстом</h2>
                            <div><img width="25px" src="{% static 'page/img/photo.png' %}" alt=""></div>
                        </div>
                        <p class="widget__item-desc">
                            Решением ННС 02.02.2018 года по подпрограмме 102 «Грантовое финансирование научных исследований» 
                        </p>
                    </div>
                    <div class="widget__item">
                        <div class="widget__item-title">
                            <h2>Текст с загаловком</h2>
                            <div><img width="25px" src="{% static 'page/img/title.png' %}" alt=""></div>
                        </div>
                        <p class="widget__item-desc">
                            Решением ННС 02.02.2018 года по подпрограмме 102 «Грантовое финансирование научных исследований» 
                        </p>
                    </div>
                </div>
            </div>
            <div class="page-detail">
                <h2 class="lined-title">{{page.title}}</h2>
                <div class="pagelist">
                    <form action="{% url 'addWidget' page.id %}" method="POST"  class="widget-form">
                        {% csrf_token %}
                        <input class="widget-input" name="type" type="hidden" value="widgettext">
                        <input class="widget-input" name="title" type="text"  placeholder="Введите загаловок[ru]">
                        <input class="widget-input" name="title_kk" type="text"  placeholder="Введите загаловок[kk]">
                        <input class="widget-input" name="title_en" type="text"  placeholder="Введите загаловок[en]">
                        <textarea id="widget-textarea" class="widget-textarea" contenteditable="true" name="description" placeholder="Введите описание[ru]"></textarea>
                        <textarea id="widget-textarea" class="widget-textarea" contenteditable="true" name="description_kk" placeholder="Введите описание[kk]"></textarea>
                        <textarea id="widget-textarea" class="widget-textarea" contenteditable="true" name="description_en" placeholder="Введите описание[en]"></textarea>
                        <button class="btn">Сохранить</button>
                    </form>
                    <form action="{% url 'addWidget' page.id %}" method="POST"  class="widget-form"> 
                        {% csrf_token %}
                        <input class="widget-input" name="type" type="hidden" value="widgetonlytext">
                        <textarea  class="widget-textarea" name="description" placeholder="Введите описание[ru]"></textarea>
                        <textarea  class="widget-textarea" name="description_kk" placeholder="Введите описание[kk]"></textarea>
                        <textarea  class="widget-textarea" name="description__en" placeholder="Введите описание[en]"></textarea>
                        <button>Сохранить</button>
                    </form>
                    <form action="{% url 'addWidget' page.id %}" enctype="multipart/form-data" method="POST"  class="widget-form"> 
                        {% csrf_token %}
                        <input class="widget-input" name="type" type="hidden" value="widgetphoto">
                        <input class="widget-input" name="title" type="text" placeholder="Введите загаловок[ru]">
                        <input class="widget-input" name="title_kk" type="text" placeholder="Введите загаловок[kk]">
                        <input class="widget-input" name="title_en" type="text" placeholder="Введите загаловок[en]">
                        <textarea  class="widget-textarea" name="description" placeholder="Введите описание[ru]"></textarea>
                        <textarea  class="widget-textarea" name="description_kk" placeholder="Введите описание[kk]"></textarea>
                        <textarea  class="widget-textarea" name="description_en" placeholder="Введите описание[en]"></textarea>
                        <input name="image" class="widget-input-file" type="file">
                        <button class="btn">Сохранить</button>
                    </form>
                    <form action="{% url 'addWidget' page.id %}" enctype="multipart/form-data" method="POST"  class="widget-form"> 
                        {% csrf_token %}
                        <input class="widget-input" name="type" type="hidden" value="widgetgallery">
                        <input class="widget-input" name="title" type="text" placeholder="Введите загаловок">
                        <input name="images" multiple class="widget-input-file" type="file">
                        <button class="btn">Сохранить</button>
                    </form>
                    
                    <div id="realpage"class="realpage">
                        {% for widget in pageWidgets %}
                        {{ widget|renderWidget }}
                        {% endfor %}        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}