{% extends 'layouts/apppage.html' %}

{% load static %}
{% block content %}
<div class="container">
    <div class="breadcamp">
        <a href="{% url 'pageListView' 1 %}">Назад к страницам</a>   
    </div>
    <form class="form" method="post">{% csrf_token %}
        {% for formItem in form %}
        <div class="form-group">
            <label class="form-label" for="">{{formItem.label}}</label>
            {{ formItem }}
        </div>
        {% endfor %}
        <input class="btn" type="submit" value="Save">
    </form>
</div>

{% endblock %}