{% extends 'layouts/app.html' %}
{% load static %}
{% load i18n %} 
{% load static i18n %}
{% block title %}
{% trans 'Факультеты университета Silkway' %}
{% endblock %}
{% block content %}

<div class="container">
    <h2 class="isudo__bigtitle">
        ИСУДО 2.0
    </h2>
    <div class="isudo row">
        <a class="isudo__link" href="http://isude.kazmbs.kz/swiu-fulltime-student">
            <div class="isudo__item isudo__item-before" style="background: url({% static 'img/Compressed/s1.jpg' %}) no-repeat center; background-size: cover;">
                <h2 class="isudo__title">{% trans 'Білім алушының кабинеті' %}</h2>
                <h3 class="isudo__subtitle">{% trans 'Күндізгі бөлім' %}</h3>
            </div>
        </a>
        <a class="isudo__link" href="http://isude.kazmbs.kz/SWIU-STUDENT">
            <div class="isudo__item isudo__item-before" style="background: url({% static 'img/Compressed/s2.jpg' %}) no-repeat center; background-size: cover;">
                <h2 class="isudo__title">{% trans 'Білім алушының кабинеті' %}</h2>
                <h3 class="isudo__subtitle">{% trans 'Қысқартылған оқу формасы' %}</h3>
            </div>
        </a>
        <a class="isudo__link" href="http://isude.kazmbs.kz/SWIU-MAGISTR-STUDENT">
            <div class="isudo__item isudo__item-before" style="background: url({% static 'img/Compressed/s3.jpg' %}) no-repeat center; background-size: cover;">
                <h2 class="isudo__title">{% trans 'Білім алушының кабинеті' %}</h2>
                <h3 class="isudo__subtitle">{% trans 'ЖОҒАРЫ ОҚУ ОРНЫНАН КЕЙІНГІ БІЛІМ БЕРУ' %}</h3>
            </div>
        </a>
        <a class="isudo__link" href="http://isude.kazmbs.kz/SWIU-FULLTIME-PPS">
            <div class="isudo__item isudo__item-before" style="background: url({% static 'img/Compressed/t1.jpg' %}) no-repeat center; background-size: cover;">
                <h2 class="isudo__title">{% trans 'Оқытушы кабинеті' %}</h2>
                <h3 class="isudo__subtitle">{% trans 'Күндізгі бөлім' %}</h3>
            </div>
        </a>
        <a class="isudo__link" href="http://isude.kazmbs.kz/swiu-pps">
            <div class="isudo__item isudo__item-before" style="background: url({% static 'img/Compressed/t2.jpg' %}) no-repeat center; background-size: cover;">
                <h2 class="isudo__title">{% trans 'Оқытушы кабинеті' %}</h2>
                <h3 class="isudo__subtitle">{% trans 'Қысқартылған оқу формасы' %}</h3>
            </div>
        </a>
        <a class="isudo__link" href="http://isude.kazmbs.kz/SWIU-magistr-pps">
            <div class="isudo__item isudo__item-before" style="background: url({% static 'img/Compressed/t3.jpg' %}) no-repeat center; background-size: cover;">
                <h2 class="isudo__title">{% trans 'Оқытушы кабинеті' %}</h2>
                <h3 class="isudo__subtitle">{% trans 'ЖОҒАРЫ ОҚУ ОРНЫНАН КЕЙІНГІ БІЛІМ БЕРУ' %}</h3>
            </div>
        </a>
        <a class="isudo__link" href="http://isude.kazmbs.kz/SWIU-fulltime">
            <div class="isudo__item isudo__item-before" style="background: url({% static 'img/Compressed/a1.jpg' %}) no-repeat center; background-size: cover;">
                <h2 class="isudo__title">{% trans 'Админстратор' %}</h2>
                <h3 class="isudo__subtitle">{% trans 'Күндізгі бөлім' %}</h3>
            </div>
        </a>
        <a class="isudo__link" href="http://isude.kazmbs.kz/SWIU/">
            <div class="isudo__item isudo__item-before" style="background: url({% static 'img/Compressed/a2.jpg' %}) no-repeat center; background-size: cover;">
                <h2 class="isudo__title">{% trans 'Админстратор' %}</h2>
                <h3 class="isudo__subtitle">{% trans 'Қысқартылған оқу формасы' %}</h3>
            </div>
        </a>
        <a class="isudo__link" href="http://isude.kazmbs.kz/SWIU-MAGISTR">
            <div class="isudo__item isudo__item-before" style="background: url({% static 'img/Compressed/a3.jpg' %}) no-repeat center; background-size: cover;">
                <h2 class="isudo__title">{% trans 'Админстратор' %}</h2>
                <h3 class="isudo__subtitle">{% trans 'ЖОҒАРЫ ОҚУ ОРНЫНАН КЕЙІНГІ БІЛІМ БЕРУ' %}</h3>
            </div>
        </a>
    </div>
    <h2 class="isudo__bigtitle">
        {% trans 'Пайдаланушыларға нұсқаулық' %}
    </h2>
    <div class="isudo mt-4 row">
        <div class="isudo__item isudo__item-shadow">
            <div class="isudo__title isudo__title-blue">{% trans 'Оқушы' %}</div>
            <a class="isudo__btn" href="{% static 'pdf/student.pdf' %}">{% trans 'Көру' %}</a>
        </div>
        <div class="isudo__item isudo__item-shadow">
            <div class="isudo__title isudo__title-blue">{% trans 'Мұғалім' %}}</div>
            <a class="isudo__btn" href="{% static 'pdf/teacher.pdf' %}">{% trans 'Көру' %}</a>
        </div>
        <div class="isudo__item isudo__item-shadow">
            <div class="isudo__title isudo__title-blue">{% trans 'Админстратор' %}</div>
            <a class="isudo__btn" href="">{% trans 'Көру' %}</a>
        </div>
        <div class="isudo__item isudo__item-shadow">
            <div class="isudo__title isudo__title-blue">{% trans 'Мобильді қосымша' %}</div>
            <a class="isudo__btn" href="{% static 'pdf/app.pdf' %}">{% trans 'Көру' %}</a>
        </div>
        <div class="isudo__item isudo__item-shadow">
            <div class="isudo__title isudo__title-blue">{% trans 'Видео нұсқаулық' %}</div>
            <a class="isudo__btn" href="https://www.youtube.com/watch?v=dPnLXnHKu80&feature=youtu.be">{% trans 'Көру' %}</a>
        </div>
        <div class="isudo__item isudo__item-shadow">
            <div class="isudo__title isudo__title-blue">{% trans 'қосымша' %}</div>
            <a class="isudo__btn" href="">{% trans 'Көру' %}</a>
        </div>
        
    </div>
</div>

{% endblock %}