@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
.top-bar {
  background: #00194a;
  color: white;
}
@media screen and (max-width: 600px) {
  .top-bar {
    display: none;
  }
}

.top-bar__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
}

.top-bar__right, .top-bar__left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.top-bar__adress {
  padding: 1rem 1.5rem;
}

.top-bar__que {
  padding: 1rem 1.5rem;
}

.link {
  text-decoration: none;
  color: white;
}

.language {
  height: 100%;
}
.language select {
  display: block;
  border: none;
  width: 100%;
  /* от ширины блока div */
  background: none;
  /* убираем фон */
  padding: 0.75rem 2rem;
  border-radius: 3px;
  /* скругление полей формы */
  -webkit-appearance: none;
  /* Chrome */
  -moz-appearance: none;
  /* Firefox */
  appearance: none;
  /* убираем дефолнтные стрелочки */
  font-family: inherit;
  /* наследует от родителя */
  font-size: inherit;
  text-transform: uppercase;
  color: white;
}
.language option {
  color: black;
}

.sign {
  display: flex;
  flex-wrap: wrap;
}

.login {
  padding: 1rem 1.5rem;
}

.language {
  padding: 1rem 1.5rem;
}

.social {
  padding: 1rem 1.5rem;
  display: flex;
  flex-wrap: wrap;
}
.social div {
  margin-right: 0.65rem;
  text-decoration: none;
}

.logo-area {
  padding: 2.2rem 0px;
}
@media screen and (max-width: 600px) {
  .logo-area {
    display: none;
  }
}

.logo-area__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-area__contact {
  display: flex;
  align-items: center;
}

.logo-area__img {
  height: 4.1rem;
}
.logo-area__img img {
  height: 100%;
}

.logo-area__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4.5rem;
  font-size: 1.7rem;
}

.logo-area__item-text {
  margin-left: 1rem;
}
.logo-area__item-text p {
  color: #969696;
  font-size: 1.3rem;
}
.logo-area__item-text span {
  font-weight: 500;
}

.menu {
  width: 100%;
  background-color: white;
  animation-duration: 1s;
  z-index: 5;
  animation-name: scrolled;
}
@media screen and (max-width: 900px) {
  .menu {
    display: none;
  }
}
@keyframes scrolled {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

.menu.scrolled {
  position: fixed;
  top: 0;
  z-index: 2000;
  box-shadow: 0px 2px 10px rgba(0, 25, 74, 0.1);
}

.menu__row {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0px 3rem;
  border-radius: 0.5rem;
  background: white;
}

.menu__list {
  list-style: none;
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  bottom: 100%;
  padding: 3rem 2rem 3rem 0px;
}
.menu__item:hover .sub-menu {
  display: grid;
}
.menu__item:hover .menu__link {
  color: black;
}

.menu__list .menu__item:last-child .sub-menu {
  left: -30%;
}

.menu__list .menu__item:last-child .sub-menu > .sub-menu__item {
  min-width: 20rem;
}

.menu__link {
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #00194a;
}

.menu__link__i {
  color: #00194a;
}

.sub-menu {
  position: absolute;
  background-color: white;
  list-style: none;
  border-radius: 0 0 0.5rem 0.5rem;
  top: 100%;
  z-index: 2000;
  display: none;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0px 10px 10px rgba(0, 25, 74, 0.1);
  transition: 0.2s ease;
  padding: 0rem 0rem 2rem 0rem;
}

.sub-menu__item {
  display: flex;
  min-width: 30rem;
  padding: 1rem 2rem;
  transition: 0.2s ease;
}
.sub-menu__item:hover {
  background-color: #f2f2f2;
  border-left: 2px solid #00194a;
  transition: 0.2s ease;
}

.sub-menu__link {
  display: block;
  color: #636363;
  text-decoration: none;
  font-size: 1.5rem;
}

.mob-menu {
  background-color: #00194a;
  position: fixed;
  z-index: 1001;
  width: 100%;
  color: white;
  padding: 1.8rem 0;
  display: none;
}
@media screen and (max-width: 700px) {
  .mob-menu {
    display: block;
  }
}

.mob-menu__row {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.burger {
  width: 3rem;
  position: relative;
  transition: 0.4s ease;
  z-index: 1001;
}

.burger.cliced {
  transition: 0.4s ease;
}

.bur-c {
  font-size: 3rem;
}

.logo {
  width: 150px;
}
.logo img {
  width: 100%;
  height: 100%;
}

.header {
  font-family: "Roboto", sans-serif;
  width: 100%;
  position: relative;
  box-shadow: 0px 2px 10px rgba(0, 25, 74, 0.1);
}

.icon-c-w {
  color: white;
}

.icon-c {
  color: #222a74;
}

.breadcam-area {
  padding: 6rem 0px;
  position: relative;
}
.breadcam-area::before {
  position: absolute;
  content: "";
  background: #182b49;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.breadcam-area__text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.breadcam-area__text h2 {
  background: #182b49;
  display: inline-block;
  padding: 3rem 4.5rem;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 3.2rem;
  color: white;
  z-index: 2;
}

.course {
  padding: 7rem 7rem;
}
@media screen and (max-width: 700px) {
  .course {
    padding: 0;
    padding-top: 10rem;
  }
}

.course__row {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
}
@media screen and (max-width: 700px) {
  .course__row {
    grid-template-columns: 1fr;
  }
}

.obb__row {
  grid-template-columns: 1fr;
}

.course-tab__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

.course__main-title {
  color: #182b49;
  font-weight: 600;
  line-height: 3.5rem;
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
}

.course__overviews {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
  align-items: center;
  justify-content: center;
}

.course-over-article {
  margin: 0px 2rem 0px 0px;
  padding: 0px 2rem 0px 0px;
  border-right: 1px solid #dddddd;
}
.course-over-article h3 {
  font-size: 1.6rem;
  color: #444444;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.course-over-article p {
  font-size: 1.5rem;
  color: #969696;
  font-weight: 500;
}

.course-tab-btns {
  display: flex;
  display: inline-block;
  flex-wrap: wrap;
  list-style: none;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.8rem 2.5rem;
  margin-bottom: 3.5rem;
}

.course-tab-btn {
  display: inline-block;
  font-size: 14px;
  color: #444444;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1.2rem 3rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.course-tab-btn--active {
  background: linear-gradient(90deg, #fa7042 0%, #942200 100%);
  color: white;
}

.course-tab-content {
  margin-bottom: 4rem;
}

.course-tab-title {
  color: #444444;
  font-weight: 600;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  position: relative;
  font-size: 2rem;
}
.course-tab-title::after {
  position: absolute;
  content: "";
  background: #11b67a;
  width: 5rem;
  height: 0.2rem;
  bottom: 0px;
  left: 0px;
}

.course-tab-description {
  font-size: 1.5rem;
  text-align: justify;
  text-indent: 3rem;
  color: #666666;
  line-height: 2.5rem;
}

.course__main-img {
  width: 50%;
  float: left;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
  margin-right: 2rem;
}

.course-detail {
  width: 100%;
}

.main-sidebar {
  box-shadow: 0px 0.8rem 2.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 1.5rem 2rem 2rem;
}

.main-sidebar__title {
  color: #182b49;
  font-weight: 600;
  font-size: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  position: relative;
}
.main-sidebar__title::before {
  position: absolute;
  content: "";
  background: #11b67a;
  width: 5rem;
  height: 2px;
  bottom: 0px;
  left: 0px;
}

.main-sidebar__item {
  padding: 1.2rem 0px;
  font-size: 1.4rem;
  color: #11b67a;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px dashed #dddddd;
}
.main-sidebar__item:first-child {
  border-top: none;
}
.main-sidebar__item > span {
  font-size: 1.3rem;
  font-weight: 300;
  color: #969696;
}
.main-sidebar__item > div span {
  font-size: 1.4rem;
  font-weight: 600;
  color: #444444;
  margin-left: 1rem;
}

.container {
  max-width: 1400px;
  padding: 0px 2rem 0px 2rem;
  margin: 0 auto;
}

.swiper-container {
  width: 100%;
  height: 75vh;
}
@media screen and (max-width: 700px) {
  .swiper-container {
    height: 100vh;
  }
}

.bg::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(0deg, #020024 0%, rgba(19, 19, 100, 0.3) 0%, rgba(13, 29, 76, 0.7) 19%, rgba(8, 37, 58, 0.7) 73%, rgba(5, 41, 48, 0.3) 100%);
}

.swiper-slide__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide__text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 2;
  color: white;
}
.swiper-slide__text h2 {
  font-size: 3.8rem;
}
@media screen and (max-width: 700px) {
  .swiper-slide__text h2 {
    font-size: 2.6rem;
  }
}
.swiper-slide__text h3 {
  font-size: 1.8rem;
}
@media screen and (max-width: 700px) {
  .swiper-slide__text h3 {
    font-size: 1.3rem;
  }
}

.swiper-button-prev {
  color: white;
  background-color: transparent;
  border: none;
  width: 1rem !important;
  padding: 3rem;
  border-radius: 0.5rem;
}
@media screen and (max-width: 500px) {
  .swiper-button-prev {
    display: none;
  }
}
.swiper-button-prev:hover {
  background: linear-gradient(90deg, #fa7042 0%, #942200 100%);
}

.swiper-button-next {
  color: white;
  background-color: transparent;
  border: none;
  width: 1rem !important;
  padding: 3rem;
  border-radius: 0.5rem;
}
@media screen and (max-width: 500px) {
  .swiper-button-next {
    display: none;
  }
}
.swiper-button-next:hover {
  background: linear-gradient(90deg, #fa7042 0%, #942200 100%);
}

.activity-department__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.activity-department__item {
  flex-basis: 100%;
  width: 100%;
  margin-top: 3rem;
  overflow: hidden;
}
.activity-department__item:first-child {
  margin-top: 1rem;
}

.activity-department__title {
  font-size: 2.5rem;
  color: #182b49;
  text-align: center;
  margin-top: 3rem;
}

.activity-department__title2 {
  font-size: 1.4rem;
  margin-top: 2rem;
  color: #254881;
  text-align: center;
}

.activity-department__desc {
  font-size: 1.5rem;
  color: #666666;
  line-height: 3rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

.swiper-container3 {
  overflow: hidden;
  width: 80rem;
  display: block;
  height: 30rem;
}
@media screen and (max-width: 900px) {
  .swiper-container3 {
    width: 50rem;
  }
}
@media screen and (max-width: 400px) {
  .swiper-container3 {
    width: 30rem;
  }
}

.swiper-s-w-i {
  width: 100%;
  border-radius: 0.5rem;
  height: 100%;
  object-fit: cover;
}

.btn {
  text-decoration: none;
  border: none;
  background: linear-gradient(90deg, #fa7042 0%, #942200 100%);
  padding: 1.1rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.4rem;
}
.btn:hover {
  background: linear-gradient(90deg, #942200 0%, #fa7042 100%);
}

.btn--dark-blue {
  background: linear-gradient(90deg, #001777 0%, #00194a 100%);
}
.btn--dark-blue:hover {
  background: linear-gradient(90deg, #00194a 0%, #001777 100%);
}

.btn-block {
  display: inline-block;
}

.btn-group {
  display: flex;
  justify-content: flex-end;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
  display: block;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.ml-6 {
  margin-left: 6rem;
}

.ml-7 {
  margin-left: 7rem;
}

.ml-8 {
  margin-left: 8rem;
}

.ml-9 {
  margin-left: 9rem;
}

.ml-10 {
  margin-left: 10rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mr-6 {
  margin-right: 6rem;
}

.mr-7 {
  margin-right: 7rem;
}

.mr-8 {
  margin-right: 8rem;
}

.mr-9 {
  margin-right: 9rem;
}

.mr-10 {
  margin-right: 10rem;
}

.box-area__row {
  display: grid;
  position: relative;
  top: -2rem;
  z-index: 10;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-gap: 2rem;
}
@media screen and (max-width: 700px) {
  .box-area__row {
    top: 2rem;
  }
}

.box-area__item__link {
  text-decoration: none;
}

.box-area__item {
  display: flex;
  padding: 3.5rem 2rem 2rem;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 0px 1.2rem 2.5rem rgba(0, 0, 0, 0.07);
}

.box-area__title {
  color: #182b49;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.box-area__description {
  font-size: 1.4rem;
  color: #969696;
}

.box-area__icon {
  margin-right: 1rem;
  width: 6rem;
}

.about-us__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  position: relative;
}

.about-us__title {
  font-size: 2.4rem;
  color: #182b49;
  line-height: 3.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.about-us__desciption {
  font-size: 1.5rem;
  color: #969696;
  line-height: 2.5rem;
  margin-bottom: 4rem;
}

.about-us-a {
  position: absolute;
  width: 20rem;
  height: 20rem;
  right: -4rem;
  object-fit: cover;
  border-radius: 0.5rem;
  bottom: -4rem;
}
@media screen and (max-width: 700px) {
  .about-us-a {
    display: none;
  }
}

.about-us__img {
  position: relative;
}
.about-us__img::before {
  position: absolute;
  bottom: -4rem;
  right: -4rem;
  z-index: 1;
  border-radius: 0.5rem;
  width: 20rem;
  height: 20rem;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  content: "";
}
@media screen and (max-width: 700px) {
  .about-us__img::before {
    display: none;
  }
}
.about-us__img img:first-child {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-us-btnn {
  position: absolute;
  bottom: -4rem;
  right: -4rem;
  z-index: 2;
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
}
@media screen and (max-width: 700px) {
  .about-us-btnn {
    display: none;
  }
}

.about-us-svg {
  font-size: 5rem;
}
.about-us-svg:hover {
  transform: rotate(-5deg) scale(1.1);
}
.about-us-svg:hover .about-us__img::before {
  background: rgba(0, 0, 0, 0.2);
}

.about-us__box {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}

.about-us__box-item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about-us__number {
  font-size: 2.8rem;
}

.about-us__box-text {
  text-align: center;
  margin-top: 0.7rem;
  color: #969696;
  font-size: 1.4rem;
}

.about-us__btn {
  padding: 1rem 4rem;
  display: inline-block;
}

.orange {
  color: #ff6f6f;
}

.purple {
  color: #84479c;
}

.blue {
  color: #2c97ea;
}

.testimonial-area {
  margin-top: 10rem;
  padding: 6.3rem 0px;
}

.testimonial-area {
  background: url("../img/3.jpg") no-repeat;
  background-size: cover;
  position: relative;
  height: 55rem;
  background-position: center;
}
@media screen and (max-width: 700px) {
  .testimonial-area {
    height: 60rem;
  }
}
.testimonial-area::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 25, 74, 0.9);
}

.testimonial-area__title {
  color: white;
  line-height: 3.5rem;
  font-weight: 600;
  max-width: 55rem;
  position: relative;
  z-index: 3;
  margin: auto auto 4.3rem;
}

.testimonial-area__row {
  overflow: hidden;
}

.testimonial-area__item {
  position: relative;
  z-index: 2;
}

.testimonial-area__text {
  background-color: rgba(255, 255, 255, 0.08);
  padding: 3rem 3.8rem;
  border-radius: 0.5rem;
  position: relative;
}
.testimonial-area__text h3 {
  color: #eeeeee;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}
.testimonial-area__text p {
  font-size: 1.3rem;
  color: #dddddd;
  line-height: 2.5rem;
}
.testimonial-area__text:after {
  content: "";
  position: absolute;
  border-width: 1.5rem;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.08) transparent transparent;
  top: 100%;
  left: 4.7rem;
  z-index: 1;
}

.testimonial-area__writer {
  margin-top: 3rem;
  margin-left: 2.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.testimonial-area__writer img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 2rem;
}
.testimonial-area__writer h2 {
  font-size: 1.6rem;
  color: #eeeeee;
  padding-top: 1rem;
  margin-bottom: 0.3rem;
}
.testimonial-area__writer p {
  color: #dddddd;
}

.footer {
  margin-top: 10rem;
  padding-top: 10rem;
  background-color: #00194a;
  color: white;
  position: relative;
  padding: 23.5rem 0px 5.5rem;
}
@media screen and (max-width: 700px) {
  .footer {
    padding: 45rem 0px 5.5rem;
  }
}

.footer__row {
  grid-gap: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.footer__item > p {
  margin-bottom: 1.3rem;
  color: white;
}
.footer__item > div {
  margin-bottom: 1.3rem;
  color: white;
}
.footer__item > h3 {
  margin-bottom: 3rem;
}
.footer__item > img {
  width: 20rem;
  margin-bottom: 3rem;
}

.footer2 {
  padding: 3.5rem 0px 3.8rem;
  background: #122340;
}
.footer2 p {
  color: white;
  padding-top: 0.3rem;
}

.footer__item-link {
  margin-bottom: 1.3rem;
  color: white;
  text-decoration: none;
  display: block;
}

.newsletter {
  position: absolute;
  top: -3rem;
  left: 0;
  width: 100%;
}

.newsletter__row {
  background: linear-gradient(90deg, #fa7042 0%, #942200 100%);
  border-radius: 5px;
  padding: 3.7rem 4rem 4rem;
  width: 100%;
  display: block;
  z-index: 1;
}
.newsletter__row h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 3.5rem;
}

.newsletter__form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3rem;
  justify-content: space-around;
  align-items: center;
}

.input__form {
  height: 5rem;
  background-color: white;
  font-size: 1.4rem;
  padding: 1.5rem 2rem;
  color: #182b49;
  border: none;
  border-radius: 0.5rem;
}

.btn_to-f {
  height: 5rem;
  text-align: center;
}

.about-us-page {
  background: #f6f9ff;
  padding: 7rem 0px 6.5rem;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .about-us-page {
    padding: 10rem 0px 6.5rem;
  }
}

.about-us-page__row {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  grid-gap: 3rem;
}
@media screen and (max-width: 900px) {
  .about-us-page__row {
    grid-template-columns: 1fr;
  }
}

.about-us-page__mainsidebar-list {
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid #eeeeee;
  overflow: hidden;
  list-style: none;
  position: sticky;
  top: 5rem;
}

.about-us-page__litem {
  cursor: pointer;
  font-size: 1.5rem;
  color: #182b49;
  border-bottom: 1px solid #eeeeee;
  padding: 1.8rem 2.5rem;
  width: 100%;
}
.about-us-page__litem:hover {
  background: linear-gradient(90deg, #fa7042 0%, #942200 100%);
  color: white;
}
.about-us-page__litem--active {
  background: linear-gradient(90deg, #fa7042 0%, #942200 100%);
  color: white;
}

.about-us-page__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.about-us-page__item {
  width: 100%;
}

.about-us-page__title {
  color: #182b49;
  font-weight: 600;
  margin-bottom: 2.5rem;
  font-size: 2.4rem;
}

.about-us-page__imgfloat {
  float: left;
  display: block;
  border-radius: 0.5rem;
  margin: 0.5rem 2rem 0rem 0;
}
@media screen and (max-width: 600px) {
  .about-us-page__imgfloat {
    float: none;
  }
}

.about-us-page__p {
  font-size: 1.5rem;
  color: #666666;
  line-height: 3rem;
  margin-bottom: 2.5rem;
}

.about-us-page__titleh3 {
  font-size: 2rem;
}

.about-us-page__listitem {
  list-style-position: inside;
  font-size: 1.5rem;
  color: #666666;
  line-height: 3rem;
  margin-bottom: 0.5rem;
}

.employee__row {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 5rem;
  margin-bottom: 10rem;
}

.employee__row-sm {
  grid-row-gap: 4rem;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.employee__item-fixed {
  margin: 0 auto;
  height: 30rem;
  width: 30rem;
}

.employee__item {
  position: relative;
  margin-bottom: 1rem;
}
.employee__item::before {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.2;
  position: absolute;
  backdrop-filter: blur(5rem);
  transition: 0.2s ease;
}
.employee__item:hover::before {
  opacity: 0.5;
  transition: 0.2s ease;
}

.employee__img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.2s ease;
}

.employee__text {
  display: block;
  text-decoration: none;
  transition: 0.2s ease;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1rem 1.8rem;
  position: absolute;
  bottom: -3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  height: 10rem;
  z-index: 1;
  border-radius: 5px;
  padding: 1.5rem 0px;
  text-align: center;
}

.employee__name {
  color: #444444;
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
}

.employee__presidency {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: #00194a;
  font-weight: 500;
  font-weight: 700;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.employee__country {
  margin-top: 0.5rem;
  display: block;
}

.accordion__title {
  border: none;
  background: transparent;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0px;
  font-size: 1.8rem;
  color: #444444;
  font-weight: 500;
  cursor: pointer;
}

.accordion__content {
  border-bottom: 1px solid #dddddd;
  background-color: transparent;
  position: relative;
  color: white;
  height: 0px;
  min-height: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  transition: 0.3s ease;
  overflow: hidden;
}

.accordion__content-bn {
  border-bottom: none;
}

.sub-menu__link-white {
  color: white !important;
}

.accordion__content.active {
  min-height: auto;
  height: auto;
  transform: scaleY(1);
  transition: 0.3s ease;
}

.grid-with-text {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  background-color: white;
}

.grid-with-text__item {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  transition: all 0.2s ease 0s;
  overflow: hidden;
}

.grid-with-text__text {
  background: white;
  padding: 2rem 2.5rem;
}

.grid-with-text__img {
  width: 100%;
}

.grid-with-text__title {
  text-decoration: none;
  color: #182b49;
  font-weight: 600;
  display: inline-block;
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
}

.grid-with-text__desc {
  font-size: 1.4rem;
  color: #969696;
  line-height: 2.5rem;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 1rem;
  margin-bottom: 1.2rem;
}

.grid-with-text__span {
  display: flex;
  justify-content: space-between;
}

.grid-with-text__span-i {
  font-size: 1.3rem;
  color: #969696;
}

.news-area {
  margin-top: 6rem;
}

.news-area__title {
  color: #182b49;
  line-height: 3.5rem;
  text-align: center;
  margin: auto auto 4.8rem;
  max-width: 55rem;
}
.news-area__title h2 {
  font-weight: 600;
  font-size: 2.4rem;
}

.news {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 4rem;
}
@media screen and (max-width: 700px) {
  .news {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2rem;
  }
}

.news__item {
  display: flex;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  flex-direction: column;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 20px;
}
.news__img {
  display: block;
  border-radius: 0.5rem;
  height: 30rem;
}
.news__img img {
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
@media screen and (max-width: 700px) {
  .news__img img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 700px) {
  .news__img {
    flex-basis: 100%;
  }
}

.news__content {
  width: 100%;
  padding: 1.8rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  z-index: 1;
}
@media screen and (max-width: 700px) {
  .news__content {
    flex-basis: 100%;
  }
}

.news__header {
  display: flex;
  align-items: center;
}

.news__date {
  position: absolute;
  top: 1rem;
  font-size: 1.6rem;
  color: white;
  padding: 0.8rem 1rem;
  line-height: 2rem;
  font-weight: 500;
  margin-right: 1rem;
  background: linear-gradient(90deg, #001777 0%, #00194a 100%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.2);
}
.news__date:hover {
  background: linear-gradient(90deg, #00194a 0%, #001777 100%);
}

.news__title {
  color: #182b49;
  font-weight: 600;
  display: block;
  text-decoration: none;
  padding-top: 0.5rem;
}

.news__desc {
  text-align: justify;
}

.news__body {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #969696;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.news__body > a {
  text-decoration: none;
  color: #636363;
  font-size: inherit;
}

.news__footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #00194a;
  position: relative;
}

.news__footer-item {
  margin-right: 1rem;
}

.news__footer-item.comment {
  cursor: pointer;
}

.news__comment {
  position: absolute;
  top: 2.4rem;
  display: flex;
  z-index: 1001;
  left: 0;
  width: 100%;
  height: 100%;
}

.news__comment.hide {
  display: none;
}

.comment_btn {
  height: 5rem;
}

.none-click {
  pointer-events: none;
}

.lastComments {
  list-style: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 5rem;
  left: 0;
  border-radius: 0.7rem;
}
.lastComments li {
  background-color: white;
  width: 100%;
  font-size: 1.4rem;
  color: #969696;
  border-bottom: 1px solid #eeeeee;
  padding: 1rem;
}

.like_btn {
  border: none;
  background: transparent;
  z-index: 1001;
}

.like_btn.active {
  color: red;
}

.slide-menu {
  width: 100%;
  position: fixed;
  height: 110vh;
  top: 0;
  left: 110%;
  background-color: #00194a;
  z-index: 1000;
  transition: 0.4s ease;
}

.slide-menu__row {
  width: 100%;
  list-style: none;
  color: white;
  padding-top: 10rem;
}

.slide-menu.active {
  transition: 0.4s ease;
  left: 0;
  overflow: scroll;
}

.slide-menu__item {
  font-size: 2.4rem;
  padding: 1rem;
  display: flex;
  align-items: baseline;
}

.slide-menu__item-i {
  font-size: 3.5rem;
  margin-right: 2rem;
}

.slide-sub-menu_ii {
  max-width: 100% !important;
  padding: 1.3rem;
  display: block;
}

.facult {
  margin-top: 7rem;
}

.facult__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  grid-gap: 3rem;
}

.facult__item {
  position: relative;
  width: 100%;
  height: 30rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.facult__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.facult__text {
  top: 0;
  left: 0;
  text-align: center;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
}

.facult__title {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
.facult__title div {
  width: 90%;
  position: relative;
  display: block;
  z-index: 2;
  margin-bottom: 2rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}
.facult__title div a {
  z-index: 5;
  text-transform: uppercase;
  color: white;
  padding: 1.5rem;
  display: block;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
  position: relative;
  text-decoration: none;
  background: #001777;
}
.facult__title div a:hover {
  background: #001363;
}

.review {
  max-width: 50rem;
  margin: 0 auto;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.review label {
  text-align: center;
  font-size: 1.8rem;
  color: #00194a;
  font-weight: 700;
  margin-bottom: 1rem;
}
.review p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-bottom: 1rem;
}
.review textarea {
  min-height: 20rem;
}

.review__form {
  height: 5rem;
  background-color: #ebebeb;
  font-size: 1.4rem;
  resize: vertical;
  padding: 1.5rem 2rem;
  color: #182b49;
  border: none;
  width: 100%;
  border-radius: 0.5rem;
}

.review__btn {
  color: white;
  text-decoration: none;
  border: none;
  display: block;
  padding: 1.1rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  background: linear-gradient(90deg, #001777 0%, #00194a 100%);
}

.book-container {
  width: 100%;
  height: 100%;
}

.book {
  display: grid;
  max-width: 1600px;
  grid-template-columns: 4fr 10fr;
  margin: 0 auto;
  grid-gap: 20px;
  padding: 10px;
}
@media screen and (max-width: 900px) {
  .book {
    grid-template-columns: 1fr;
  }
}

.book-sidebar {
  padding: 24px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #182b49;
  background-color: white;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
}

.book-sidebar__img {
  width: 100%;
}

.book-sidebar__description {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.book-sidebar__more {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.book-sidebar__title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.book-sidebar__year {
  color: #182b49;
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.book-sidebar__edu {
  font-size: 15px;
  margin-bottom: 2rem;
}
.book-sidebar__edu span {
  font-weight: 700;
}

.book-sidebar__edu {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.book-sidebar__btn {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: white;
  padding: 1.6rem;
  display: block;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 2.6rem;
  background: linear-gradient(90deg, #fa7042 0%, #942200 100%);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
}

.book-content {
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
}

.book-content__btns {
  display: flex;
  background: linear-gradient(90deg, #fa7042 0%, #942200 100%);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.15);
  padding: 2.3rem 4.5rem;
  font-size: 2.5rem;
}

.book-content__item {
  color: white;
  font-weight: 700;
  margin-right: 2rem;
  cursor: pointer;
}

.gallery_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
}

.gallery_img {
  width: 32rem;
  height: 32rem;
  display: block;
}
.gallery_img img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pcke {
  font-size: 1.5rem;
  color: #666666;
  line-height: 3rem;
}
.pcke > a {
  color: #404040;
  text-decoration: none;
}

.titlecke {
  text-align: center;
  font-size: 2.4rem;
  color: #182b49;
  line-height: 3.5rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.titlecke2 {
  font-size: 2rem;
  color: #182b49;
  line-height: 3.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.titlecke_border {
  text-align: center;
  font-size: 2.4rem;
  color: #182b49;
  line-height: 3.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  padding: 1.5rem;
  display: inline-block;
  border-bottom: 1px solid #182b49;
}

.img3cke {
  max-width: 30rem;
  max-height: 30rem;
  object-fit: cover;
  border-radius: 0.5rem;
  margin: 2rem;
  margin-top: 0;
}

.img4cke {
  max-width: 40rem;
  max-height: 40rem;
  object-fit: cover;
  margin: 2rem;
  border-radius: 0.5rem;
  margin-top: 0;
}

.img5cke {
  max-width: 50rem;
  max-height: 50rem;
  object-fit: cover;
  border-radius: 0.5rem;
  margin: 2rem;
  margin-top: 0;
}

.img6cke {
  max-width: 60rem;
  max-height: 60rem;
  object-fit: cover;
  border-radius: 0.5rem;
  margin: 2rem;
  margin-top: 0;
}

.img7cke {
  max-width: 70rem;
  max-height: 70rem;
  object-fit: cover;
  border-radius: 0.5rem;
  margin: 2rem;
  margin-top: 0;
}

.img8cke {
  max-width: 80rem;
  max-height: 80rem;
  object-fit: cover;
  border-radius: 0.5rem;
  margin: 2rem;
  margin-top: 0;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(49rem, 1fr));
  grid-gap: 2rem;
}
@media screen and (max-width: 700px) {
  .grid2 {
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
  }
}

.grid3 {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
}

.grid4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
}
@media screen and (max-width: 700px) {
  .grid4 {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}

div.zoom {
  color: black !important;
  background-color: white !important;
  font-size: 4rem;
  display: block;
  background: white !important;
  border: 1px solid black;
}
div.zoom::after {
  display: none;
}

li.zoom {
  color: black !important;
  background-color: white !important;
  font-size: 4rem;
  display: block;
  background: white !important;
}

select.zoom {
  color: black !important;
  background-color: white !important;
  font-size: 4rem;
  display: block;
  background: white !important;
}

ul.zoom {
  color: black !important;
  background-color: white !important;
  font-size: 4rem;
  display: block;
  background: white !important;
}

section.zoom {
  display: block;
  font-size: 4rem;
  color: black !important;
  background-color: white !important;
  background: white !important;
}
section.zoom::after {
  display: none;
}

header.zoom {
  display: block;
  font-size: 4rem;
  color: black !important;
  background-color: white !important;
  background: white !important;
}

footer.zoom {
  display: block;
  font-size: 4rem;
  color: black !important;
  background-color: white !important;
  background: white !important;
}

h1.zoom {
  display: block;
  font-size: 4rem;
  color: black !important;
  background-color: white !important;
  background: white !important;
}

h2.zoom {
  display: block;
  font-size: 4rem;
  color: black !important;
  background-color: white !important;
  background: white !important;
}

h3.zoom {
  display: block;
  font-size: 4rem;
  color: black !important;
  background-color: white !important;
  background: white !important;
}

p.zoom {
  display: block;
  font-size: 4rem;
  line-height: 1.3;
  color: black !important;
  background-color: white !important;
  background: white !important;
}

a.zoom {
  display: block;
  font-size: 4rem;
  color: black !important;
  background-color: white !important;
  background: white !important;
  background: white !important;
}

i.zoom {
  display: block;
  font-size: 4rem;
  color: black !important;
  background-color: white !important;
}

svg.zoom {
  display: block;
  font-size: 4rem;
  color: black !important;
  background-color: white !important;
}

img.zoom {
  display: block;
  font-size: 5rem;
  display: none;
}

span.zoom {
  color: black;
  display: block;
  font-size: 4rem;
  background: white !important;
}

.btn-default {
  color: white;
  background-color: #00194a;
  padding: 10px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.btn-default:hover {
  background-color: #001745;
}

.isudo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 3rem;
}

.isudo__bigtitle {
  font-size: 4.2rem;
  text-align: center;
  color: #00194a;
  padding: 5rem;
  display: block;
}

.isudo__link {
  text-decoration: none;
  overflow: hidden;
  transition: 0.4s ease;
}
.isudo__link:hover {
  transition: 0.4s ease;
}
.isudo__link:hover .isudo__item {
  transform: scale(1.1);
  transition: 0.4s ease;
}

.isudo__item {
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 0.4s ease;
  position: relative;
}

.isudo__item-before::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(0, 0, 0, 0.644);
}

.isudo__title, .isudo__subtitle, .isudo__btn {
  position: relative;
  z-index: 1;
  text-align: center;
  display: block;
}

.isudo__title {
  font-size: 2rem;
  width: 90%;
  margin: 0 auto;
}

.isudo__subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
  width: 90%;
  margin: 0 auto;
}

.isudo__btn {
  padding: 10px 30px;
  background-color: #00194a;
  color: white;
  text-decoration: none;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.isudo__title-blue {
  color: #00194a;
}

.isudo__item-shadow {
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.157);
}

.alert {
  position: fixed;
  top: 16rem;
  z-index: 1000;
  left: 2rem;
  list-style: none;
}

.alert__item-success {
  margin-top: 0.3rem;
  border-radius: 0.3rem;
  background: #43d787;
  padding: 1.4rem;
  color: white;
  text-align: center;
}

.twoblock {
  display: flex;
  padding-top: 2rem;
  flex-wrap: wrap;
}

.twoblock__item {
  flex-basis: calc(50% - 20px);
  margin-right: 2rem;
  color: #00194a;
}
.twoblock__item:last-child {
  margin-right: 0rem;
}

.twoblock__img {
  width: 100%;
}

.twoblock__bigtitle {
  font-size: 4.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  margin-bottom: 4rem;
}
.twoblock__bigtitle::after {
  width: 20%;
  height: 0.5rem;
  position: absolute;
  bottom: 0;
  content: "";
  background-color: #00194a;
  left: 0;
}

.twoblock__subtitle {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.twoblock-text {
  line-height: 3rem;
  font-size: 1.5rem;
}

.table-container {
  width: 100%;
  margin-top: 3rem;
}

.table__title {
  text-align: center;
  color: #00194a;
  font-weight: 700;
  margin-bottom: 2rem;
  font-size: 3rem;
}

.table_blur {
  background: #f5ffff;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.table_blur th {
  border-top: 1px solid #777777;
  border-bottom: 1px solid #777777;
  box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
  background: linear-gradient(#9595b6, #5a567f);
  color: white;
  padding: 10px 15px;
  position: relative;
}

.table_blur th:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 25%;
  height: 25%;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.08));
}

.table_blur tr:nth-child(odd) {
  background: #ebf3f9;
}

.table_blur th:first-child {
  border-left: 1px solid #777777;
  border-bottom: 1px solid #777777;
  box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
}

.table_blur th:last-child {
  border-right: 1px solid #777777;
  border-bottom: 1px solid #777777;
  box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
}

.table_blur td {
  border: 1px solid #e3eef7;
  padding: 10px 15px;
  position: relative;
  transition: all 0.5s ease;
}

.widget--item-editable {
  display: none;
}

.widgetwihttext {
  margin-bottom: 1rem;
}

.widgetwihttext__title {
  font-size: 2.4rem;
  padding: 1rem 0rem;
  text-align: left;
}

.widgetwihttext__description {
  text-align: justify;
  font-size: 1.5rem;
  padding: 1rem 0rem;
  color: #666666;
  line-height: 3rem;
}

.widgetwithphoto {
  display: flex;
  flex-wrap: wrap;
  color: #666666;
}

.widgetwithphoto__description {
  text-align: justify;
  flex-basis: 70%;
  font-size: 1.5rem;
  line-height: 3rem;
  color: #666666;
  margin-right: 1rem;
}

.widgetwithphoto__photo-block {
  flex-basis: calc(30% - 1rem);
}

.widgetwithphoto__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-size: 1.5rem;
  line-height: 3rem;
}

.widgetwithgallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2rem;
  color: #666666;
}

.sortable-drag {
  background-color: #f2f2f2;
}

.sortable-chosen {
  background-color: #f2f2f2;
}

.library {
  color: #00194a;
}

.library__main-title {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: white;
  text-align: center;
  padding: 4rem;
}

.library-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33rem, 1fr));
  grid-gap: 3rem;
}

.library-grid__item {
  background-color: white;
  padding: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.library-grid__item:hover {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
}

.library-grid__title {
  margin-bottom: 2rem;
}

.library-grid__desc {
  display: inline-block;
}

.library__second-title {
  text-decoration: none;
  display: block;
  font-weight: 600;
  font-size: 1.4rem;
  color: #00194a;
}

.library-registration {
  display: flex;
  padding: 2rem;
  font-weight: 700;
  font-size: 1.8rem;
  position: relative;
  border: 1px solid black;
}

.registration__modal {
  top: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.fl-table {
  border-radius: 5px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  padding: 1rem;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
  font-size: 1.4rem;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}
.fl-table td:hover {
  background-color: #f2f2f2;
}

.fl-table thead th {
  color: #ffffff;
  background: #00194a;
}

/* Responsive */
@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }

  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }

  .fl-table thead, .fl-table tbody, .fl-table thead th {
    display: block;
  }

  .fl-table thead th:last-child {
    border-bottom: none;
  }

  .fl-table thead {
    float: left;
  }

  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }

  .fl-table td, .fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }

  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }

  .fl-table tbody tr {
    display: table-cell;
  }

  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }

  .fl-table tr:nth-child(even) {
    background: transparent;
  }

  .fl-table tr td:nth-child(odd) {
    background: #F8F8F8;
    border-right: 1px solid #E6E4E4;
  }

  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #E6E4E4;
  }

  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}
@media screen and (max-width: 900px) {
  html {
    font-size: 60%;
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 55%;
  }
}
@media screen and (max-width: 300px) {
  html {
    font-size: 50%;
  }
}

body {
  font-size: 1.3rem;
}

body.active {
  overflow: hidden;
}

.page {
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
