<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'page/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__row">
                <div class="header__logo">
                    <span>BConst</span>
                    <img width="24px" src="{% static 'page/img/Vector.png' %}" alt="">
                </div>
                <ul class="header__nav">
                    <li class="header__nav-item"><a class="header__link" href="#">Конструктор для SWIU</a></li>
                    <li class="header__nav-item"><a class="header__link" href="{% url 'pageListView' 1 %}">Страницы</a></li>
                </ul>
            </div>
        </div>
    </header>
    {% block content %}

    {% endblock %}
    <script src="{% static 'page/js/Sortable.min.js' %}"></script>
    <script src="{% static 'page/js/main.js' %}"></script>
    <script src="{% static 'page/js/edit.js' %}"></script>
    <script src="{% static 'page/js/widget.js' %}"></script>
    
</body>
</html>