{% extends 'swiupanel/layouts/app.html' %}

{% block 'content' %}
<div class="dashboard-wrapper">
    <input type="hidden" value="{{page.id}}" id="pageID">
    <input type="hidden" value="{{csrf_token}}" id="csrfToken"">
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-10">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="section-block" id="basicform">
                            <h3 class="section-title">{{page.title}}</h3>
                            <p>Use custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more.</p>
                        </div>
                        <div class="card">
                            <h5 class="card-header">Basic Form</h5>
                            <div class="card-body">
                                    <div class="form-group">
                                        <select  id="selectWidgetType">
                                            <option value="1">Галерея</option>
                                            <option value="2">Блок из коробок</option>
                                        </select>                                 
                                    </div>                       
                                    <button id="btnSW" class="btn">Создать</button>
                            </div>
                            
                            <div id="row" class="row">
                                {% for widget in page.widgets.all %}
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="section-block" id="cards">
                                        <h3 class="section-title">{{widget.widget_type.name}}</h3>
                                    </div>
                                </div>
                               {% for item in widget.widgetitems.all %}
                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h3 class="card-title">{{item.title }}</h3>
                                            <p class="card-text">{{item.content}}</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <form class="card" enctype="multipart/form-data" class="addWidgetItemForm" method="POST" action="{% url 'addWidgetItem' %}">
                                    {% csrf_token %}
                                        <div class="card-body">
                                            <p><label for="id_widget_photo">Фото для виджета:</label> <input type="file" name="widget_photo" accept="image/*" id="id_widget_photo"></p>
                                            <p><input type="hidden" name="widget" value="{{widget.id}}" id="id_widget"></p>
                                            <button type="submit" class="btn clickToadd">JN</button>
                                        </div>
                                    </form>
                                </div>
                                {%  endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
   
</div>


<script>
    
</script>
{% endblock %}