{% extends 'layouts/app.html' %}
{% load i18n %}
{% load static %}
{% block title %}
{% trans "SILKWAY Халықаралық университеті" %}
{% endblock %}


{% block content %}
    <div class="container">
        <div class="twoblock">
            <div class="twoblock__item">
                <img class="twoblock__img" src="{% static 'img/accreditation.jpg' %}" alt="">
            </div>
            <div class="twoblock__item">
                <h2 class="twoblock__bigtitle">{% trans 'АККРЕДИТТЕУ' %}</h2>
                <p class="twoblock__subtitle">{% trans 'Аккредитация бізге не үшін керек?' %}</p>
                <!-- Для чего нужна аккредитация? -->
                <div class="twoblock-text">
                  {% trans '1. Оқу орнының имиджі. Білім беру қызметтері нарығында бәсекеге қабілетті позицияларды нығайту.' %}<br>
                  {% trans '2. Халықаралық мойындау.' %}<br>
                  {% trans '3. Университеттің тартымдылығын арттыру. Негізгі мүдделі тараптар сенеді.' %}<br>
                  {% trans '4. Білім беру сапасын арттыру, қызметтердің халықаралық талаптарға сәйкестігіне кепілдік беру.' %}<br>
                  {% trans '5. Енбек нарығында түлектердің бәсекеге қабілеттілігің арттыру.' %}<br>
              </div>
                <!-- <div class="twoblock-text">
                    1. Имидж учебного заведения. Укрепление конкурентных позиций на рынке образовательных услуг. <br>
                    2. Международное признание.<br>
                    3. Повышение привлекательности Вуза. Доверие основных заинтересованных сторон.<br>
                    4. Повышение качества образования, гарантия соответствия услуг международным требованиям.<br>
                    5. Повышение конкурентоспособности выпускников на рынке труда.<br>
                </div> -->
            </div>
        </div>
        <div class="table-container">
            <div class="table__title">{% trans 'Халықаралық SILKWAY университетінің білім беру бағдарламаларын аккредиттеу туралы ақпарат' %}</div>
           <table class="table_blur">
              <tr>
                <th>№</th>
                <th>ШИФР</th>
                <th>ОБРАЗОВАТЕЛЬНЫЕ ПРОГРАММЫ</th>
                <th>АГЕНТСТВО</th>
                <th>СРОКИ</th>
                <th>СЕРТИФИКАТ</th>
              </tr>
              <tr>
                <td>1.</td>
                <td>5В010300</td>
                <td>Педагогика и психология</td>
                <td>НКАОКО</td>
                <td>29.01.18-27.01.23 г</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
               <tr>
                <td>2</td>
                <td>5В010900</td>
                <td>Математика</td>
                <td>НКАОКО</td>
                <td>29.01.18-27.01.23 г</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
               <tr>
                <td>3</td>
                <td>5В011700</td>
                <td>Казахский язык и литература</td>
                <td>НКАОКО</td>
                <td>29.01.18-27.01.23 г</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
               <tr>
                <td>4</td>
                <td>5В011900</td>
                <td>Иностранный язык:два иностранных языка</td>
                <td>НКАОКО</td>
                <td>29.01.18-27.01.23 г</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
               <tr>
                <td>5</td>
                <td>5В030100</td>
                <td>Юриспруденция</td>
                <td>НКАОКО</td>
                <td>29.01.18-27.01.23 г</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr><tr>
                <td>6</td>
                <td>5В010200</td>
                <td>Педагогика и методика начального обучения</td>
                <td>НКАОКО</td>
                <td>21.01.19-21.01.21 г</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr><tr>
                <td>7</td>
                <td>5В010800</td>
                <td>Физическая культура и спорт</td>
                <td>НКАОКО</td>
                <td>21.01.19- 19.01.24 г</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
              <tr>
                <td>8</td>
                <td>5В011100</td>
                <td>Информатика</td>
                <td>НКАОКО</td>
                <td>21.01.19- 19.01.24 г</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
              <tr>
                <td>9</td>
                <td>5В011200</td>
                <td>Химия</td>
                <td>НКАОКО</td>
                <td>21.01.19-21.01.20 г</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
              <tr>
                <td>10</td>
                <td>5В011300</td>
                <td>Биология</td>
                <td>НКАОКО</td>
                <td>21.01.19- 19.01.24 г	</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
              <tr>
                <td>11</td>
                <td>5В011400</td>
                <td>История</td>
                <td>НКАОКО</td>
                <td>21.01.19- 19.01.24 г</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
              <tr>
                <td>12</td>
                <td>5В011600</td>
                <td>География</td>
                <td>НКАОКО</td>
                <td>21.01.19- 19.01.24 г</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
              <tr>
                <td>13</td>
                <td>6В012(5В010100)</td>
                <td>Дошкольное обучение и воспитание</td>
                <td>НКАОКО</td>
                <td>23.12.19-20.12.24 г	</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
              <tr>
                <td>14</td>
                <td>6В019(5В010500)</td>
                <td>Дефектология</td>
                <td>НКАОКО</td>
                <td>23.12.19-20.12.24 г</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
              <tr>
                <td>15</td>
                <td>6В017(5В011800)</td>
                <td>Русский язык и литература</td>
                <td>НКАОКО</td>
                <td>23.12.19-20.12.24 г	</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
              <tr>
                <td>16</td>
                <td>6В041(Экономика)</td>
                <td>Экономика</td>
                <td>НКАОКО</td>
                <td>23.12.19-20.12.21 г	</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
              <tr>
                <td>17</td>
                <td>6В041 ( Учет и аудит)</td>
                <td>Экономика</td>
                <td>НКАОКО</td>
                <td>23.12.19-20.12.21 г	</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
              <tr>
                <td>18</td>
                <td>6В041(5В050900)</td>
                <td>Финансы</td>
                <td>НКАОКО</td>
                <td>23.12.19-20.12.24 г	</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
              <tr>
                <td>19</td>
                <td>7М019(6М010500)</td>
                <td>Дефектология</td>
                <td>НКАОКО</td>
                <td>23.12.19-20.12.24 г	</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
              <tr>
                <td>20</td>
                <td>7М041(Экономика)</td>
                <td>Экономика</td>
                <td>НКАОКО</td>
                <td>23.12.19-20.12.21 г</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
            </table>
        </div>
    </div>
{% endblock %}