{% extends 'layouts/app.html' %}
{% load i18n %}
{% load static %}
{% block title %}
{% trans "SILKWAY Халықаралық университеті" %}
{% endblock %}


{% block content %}
    <div class="container">
        <div class="twoblock">
            <div class="twoblock__item">
                <img class="twoblock__img" src="{% static 'img/accreditation.jpg' %}" alt="">
            </div>
            <div class="twoblock__item">
                <h2 class="twoblock__bigtitle">АККРЕДИТАЦИЯ</h2>
                <p class="twoblock__text">Для чего нужна аккредитация?</p>
                <div class="twoblock-text">
                    1. Имидж учебного заведения. Укрепление конкурентных позиций на рынке образовательных услуг.
                    2. Международное признание.
                    3. Повышение привлекательности Вуза. Доверие основных заинтересованных сторон.
                    4. Повышение качества образования, гарантия соответствия услуг международным требованиям.
                    5. Повышение конкурентоспособности выпускников на рынке труда.
                </div>
            </div>
        </div>
        <div class="table-container">
            <div class="table__title">{% trans 'Информация по аккредитации образовательных программ Международного университета SILKWAY' %}</div>
           <table class="table">
              <tr>
                <th>№</th>
                <th>ШИФР</th>
                <th>ОБРАЗОВАТЕЛЬНЫЕ ПРОГРАММЫ</th>
                <th>АГЕНСТВО</th>
                <th>СРОКИ</th>
                <th>СЕРТИФИКАТ</th>
              </tr>
              <tr>
                <td>1.</td>
                <td>5В010300</td>
                <td>Педагогика и психология</td>
                <td>НКАОКО</td>
                <td>29.01.18-27.01.23 г</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
               <tr>
                <td>2</td>
                <td>5В010900</td>
                <td>Математика</td>
                <td>НКАОКО</td>
                <td>29.01.18-27.01.23 г</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
               <tr>
                <td>3</td>
                <td>5В011700</td>
                <td>Казахский язык и литература</td>
                <td>НКАОКО</td>
                <td>29.01.18-27.01.23 г</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
               <tr>
                <td>4</td>
                <td>5В011900</td>
                <td>Иностранный язык:два иностранных языка</td>
                <td>НКАОКО</td>
                <td>29.01.18-27.01.23 г</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>
               <tr>
                <td>5</td>
                <td>5В030100</td>
                <td>Юриспруденция</td>
                <td>НКАОКО</td>
                <td>29.01.18-27.01.23 г</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr><tr>
                <td>6</td>
                <td>5В010200</td>
                <td>Педагогика и методика начального обучения</td>
                <td>НКАОКО</td>
                <td>21.01.19-21.01.21 г</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr><tr>
                <td>7</td>
                <td>5В010800</td>
                <td>Физическая культура и спорт</td>
                <td>НКАОКО</td>
                <td>21.01.19- 19.01.24 г</td>
                <td><a href="">{% trans 'Көру' %}</a></td>
              </tr>



            </table>
        </div>
    </div>
{% endblock %}