.swiper-container{
    width: 100%;
    height: 75vh;
    @media screen and(max-width:700px) {
        height: 100vh;
    }
}
.swiper-slide{
   
    
    
}
.bg{
    &::after{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        z-index: 1;
        background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(19,19,100,0.3) 0%, rgba(13,29,76,0.7) 19%, rgba(8,37,58,0.7) 73%, rgba(5,41,48,0.3) 100%);
    }
}
.swiper-slide__img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.swiper-slide__text{
    width: 100%;
    height: 100%;
    position: absolute;
    top:40%;
    left:0;
    z-index: 2;
    color:white;

    @media screen and(max-width:700px) {
        
    }
    & h2{
        @media screen and (max-width:700px){
            font-size: 2.6rem;
        }
        font-size: 3.8rem;
    }
    & h3{
        @media screen and (max-width:700px){
            font-size: 1.3rem;
        }
        font-size: 1.8rem;
    }
}


.swiper-button-prev{
    color:white;
    background-color: transparent;
    border:none;
    width: 1rem!important;
    padding:3rem;
    border-radius: 0.5rem;

    @media screen and (max-width:500px) {
        display: none;
    }
    &:hover{
        background: $red;
    }
}
.swiper-button-next{
    @media screen and (max-width:500px) {
        display: none;
    }
    color:white;
    background-color: transparent;
    border:none;
    width: 1rem!important;
    padding:3rem;
    border-radius: 0.5rem;

    &:hover{
        background: $red;
    }
}



.activity-department__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.activity-department__item {
    flex-basis: 100%;
    &:first-child{
        margin-top: 1rem;
    }
    width: 100%;
    margin-top: 3rem;
    overflow: hidden;
}
.activity-department__title {
    font-size: 2.5rem;
    color:#182b49;
    text-align: center;
    margin-top: 3rem;
}
.activity-department__title2 {
    font-size: 1.4rem;
    margin-top: 2rem;
    color:#254881;
    text-align: center;
}
.activity-department__desc {
    font-size: 1.5rem;
    color: #666666;
    line-height: 3rem;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}
.swiper-container3 {
    overflow: hidden;
    width: 80rem;
    display: block;
    margin:0 auto;
    height: 30rem;
    @media screen and(max-width:900px) {
        width: 50rem;
    }
    @media screen and(max-width:400px) {
        width: 30rem;
    }
}
.swiper-s-w-i{
    width: 100%;
    border-radius: 0.5rem;
    height: 100%;
    object-fit: cover;
}
