.page-detail{
    position: relative;
}

.btn-create{
    position: absolute;
    font-size: 1.5rem;
    background-color: $mainColorOrange;
    padding: 1rem 2rem;
    color:white;
    border-radius: 5px;
    right: 0;
    top:0;

    & a {
        color:white;
        text-decoration: none;
    }
}