.sidebar {
    background-color: $white;
    padding: 3.3rem 2.1rem;
    border-radius: 0.5rem;
}

.sidebar__nav{
    list-style: none;
    margin-top: 2rem;
}

.sidebar__nav-link {
    padding: 0.8rem 0rem;
    text-decoration: none;
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    color:$black;
    border-bottom:0.2rem solid $white;
    position: relative;
}
.sidebar__nav-link.active{
    &::after{
        position: absolute;
        width: 25%;
        height: 2px;
        content:"";
        background-color: $mainColorGreen;
        bottom: 0;
        left:0;

    }
}
.sidebar__btn{
    width: 3rem;
    margin:2rem auto;
    & img{
        width: 100%;
    }
}