.widgets{
    display: none;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.widgets.active{
    display: flex;
}

.widget__item{
    cursor: pointer;
    color:white;
    border-radius: 0.5rem;
    margin-bottom: 2.4rem;
    background-color: $mainColorOrange;
    padding: 2.5rem 1rem;

    & img{
        margin-right: 1rem;
    }

    &:hover{
        background-color: darken($mainColorOrange,8%);
    }
}
.widget__item-title{
    pointer-events: none;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.widget__item-desc{
    pointer-events: none;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: justify;
}



.widget-form.hide {
    display: none;
}
.widget-input {
    display: block;
    padding: 1rem 1.5rem;
    width: 100%;
    font-size: 1.8rem;
    background-color: $silver;
    border:none;
    border-left:3px solid $mainColorGreen;
    margin-bottom: 2rem;
    &:focus{
        outline: none;
    }
}
.widget-textarea {
    margin-bottom: 2rem;
    display: block;
    width: 100%;
    font-size: 1.4rem;
    background-color: $silver;
    border:none;
    padding: 1rem 1.5rem;
    border-left:3px solid $mainColorGreen;
    min-height: 20rem;
    &:focus{
        outline: none;
    }
}
