{% extends 'layouts/app.html' %}
{% load i18n %} 
{% load static %}
{% block title %}
{% trans "SILKWAY Халықаралық университеті" %}
{% endblock %}
{% block content %}
    <section class="news-area">
        <div class="container">
            <div class="news-area__title">
                <h2>{% trans 'SILKWAY университетінің соңғы жаңалықтары' %}</h2>
            </div>
            <div class="news">
                {% for post in posts %}
                <div class="news__item">
                    {% if post.post_img.first %}
                    <div class="news__img">
                        <img src="{{post.post_img.first.img.url}}" alt="">
                    </div>
                    {% else %}
                    <div class="news__img">
                        <img src="{% static 'img/unnamedd.png' %}" alt="">
                    </div>
                    {% endif %}
                    <div class="news__content">
                        <div class="news__header">
                            <span>{{ post.created_at }}</span>
                            <h3 class="news__title"><a class="news__title" href="{% url 'postDetailView' post.slug %}">{{ post.title}}</a></h3>
                        </div>
                        <div class="news__body">
                            <div>{% autoescape off %}{{post.description}}{% endautoescape %}</div>
                        </div>
                        <div class="news__footer">
                            <div class="news__footer-item">
                                <i class="far fa-user"></i>
                                <span>{{post.author}}</span>
                            </div>
                            
                           
                            <div class="news__footer-item ">       
                                    <input type="hidden" value="{{post.slug}}">
                                    <button class="like_btn" type="submit"><i class="none-click far fa-heart"></i></button>            
                                <span class="none-click">{{ post.likes.count }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <script>
        '{% get_current_language as LANGUAGE_CODE %}'
    const likeBtn = document.querySelectorAll('.like_btn');
    likeBtn.forEach(e=>{
        e.addEventListener('click',btn=>{
           
            btn = btn.target;
            if (btn.classList.contains('like_btn')){
                var url = btn.previousElementSibling.value;
                var likeCount = btn.nextElementSibling;
                let myData = {
                    'slug':url,
                    'session_key':"{{request.session.session_key}}"
                }
                fetch("/{{request.LANGUAGE_CODE}}/creative/post/like",{
                    method:"POST",
                    headers: {
                        "Content-type": "application/x-www-form-urlencoded; charset=UTF-8",
                        "X-CSRFToken": "{{csrf_token}}"
                    },
                    body: JSON.stringify(myData)
                })
                .then(function (data) {
                console.log('Request succeeded with JSON response', data);
                })
                .then(view)
                .catch(function (error) {
                    console.log('Request failed', error);
                });
                }
                function view(){
                    fetch("/{{request.LANGUAGE_CODE}}/creative/post/likecount/"+url)
                    .then(response => response.json())
                    .then(likes => likesf(likes))

                    function likesf(datalike){
                        const dataliker = datalike;
                        likeCount.innerHTML = dataliker.like
                    }

                }

                
        });
    });
    </script>
{% endblock %}