{% extends 'layouts/app.html' %}
{% load static %}
{% block title %}
{{post.title}}
{% load i18n %} 
{% load static i18n %}
{% endblock %}
{% block content %}
<section class="course">
    <div class="container">
        <div class="course__row">
            <div class="course-detail">
                <h1 class="course__main-title">
                    {{post.title}}
                </h1>
                
                <div class="course__tab-list">
                    <ul class="course-tab-btns">
                        <li class="course-tab-btn course-tab-btn--active">{{post.created_at}}</li>
                        <!-- <li class="course-tab-btn course-tab-btn--active">Коментарий</li> -->
                    </ul>
                    <div class="course-tab-content">
                        <h2 class="course-tab-title">
                            {{post.title}}
                        </h2>
                        <p class="course-tab-description">
                            {% autoescape off %}{{post.description}}{% endautoescape %}
                        </p>
                        {% if post.post_img.all %}
                        <!-- Slider main container -->
                            <div class="swiper-container3 mt-4">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                <!-- Slides -->
                                {% for foto in post.post_img.all %}
                                <div class="swiper-slide">
                                    <img class="swiper-s-w-i" src="{{foto.img.url}}" alt="">
                                </div>
                                {% endfor %}                   
                                </div>

                            </div>
                        {% endif %}
                    </div>
                  
                    
                </div>
            </div>
            <div class="course-sidebar">
                <div class="main-sidebar">
                    <h3 class="main-sidebar__title">
                        {% trans 'Шығарылым туралы' %}
                    </h3>
                    <div class="main-sidebar__list">
                        <div class="main-sidebar__item">
                            <div>
                                <i class="fas fa-calendar-alt"></i>
                                <span>{% trans 'Лүпілдер' %}:</span>
                            </div>
                                <span>{{post.likes.count}}</span>
                        </div>
                       
                        <div class="main-sidebar__item">
                           <div><i class="fas fa-clock"></i><span>{% trans 'Пікірлер' %}:</span></div>
                               <span>{{post.post_com.count}}</span>
                        </div>
                        <div class="main-sidebar__item">
                            <div><i class="fas fa-globe-europe"></i><span>{% trans 'Көрілімдер' %}:</span></div>
                                <span>{{page.count}}</span>
                        </div>
                          
                        <a style="display: inline-block;" class="btn" href="">{% trans 'Лүпіл қою' %}</a>                           
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}