{% extends 'layouts/app.html' %}
{% load i18n %} 
{% load static %}
{% load checkliked %}
{% load i18n %} 
{% load static i18n %}
{% block title %}
{% trans "ORDA университетінің жаңалықтары" %}
{% endblock %}
{% block content %}
    <section class="news-area">
        <div class="container">
            <div class="news-area__title">
                 <h2>{{category.name}}</h2>
            </div>
            <div class="news">
                {% for post in page_obj %}
                <div class="news__item">
                    <span class="news__date">{{ post.created_at|date:"d M Y" }}</span>
                    {% if post.post_img.first %}
                        <div class="news__img">
                            <img src="{{post.post_img.first.img.url}}" alt="">
                        </div>
                        {% else %}
                        <div class="news__img">
                            <img src="{% static 'img/unnamedd.png' %}" alt="">
                        </div>
                    {% endif %}
                    <div class="news__content">
                        <div class="news__header">
                            <h3><a class="news__title" href="{% url 'postDetailView' post.slug %}">{{ post.title}}</a></h3>
                        </div>
                        <div class="news__footer">
                            <div class="news__footer-item">
                                <i class="far fa-user"></i>
                                <span>{{post.author}}</span>
                            </div>
                            <div class="news__footer-item ">       
                                    <input type="hidden" value="{{post.slug}}">
                                    <button class="like_btn {% check post.id request.session.session_key %}" type="submit"><i class="none-click far fa-heart"></i></button>
                                <span class="none-click">{{ post.likes.count }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>


<section class="pagination mt-4">
	<nav class="paged">
        {% if page_obj.has_previous %}
        <a href="?page=1" class="previous">Первый</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="previous">&laquo; Назад</a>
        {% endif %}
		<div class="pages">
            <span class="current">
                 {{ page_obj.number }}
            </span>
            <span>
                {{ page_obj.paginator.num_pages }}
            </span>
        </div>
        {% if page_obj.has_next %}
		<a href="?page={{ page_obj.next_page_number }}" class="next">Вперед &raquo;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="next">Последний</a>
         {% endif %}
        </nav>

</section>

    </section>

{% endblock %}