{% extends 'swiupanel/layouts/app.html' %}

{% block 'content' %}
<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content">
        <div class="row">
            <div class="col-xl-10">
                
              
                <!-- ============================================================== -->
                <!-- basic form  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="section-block" id="basicform">
                            <h3 class="section-title">Basic Form Elements</h3>
                            <p>Use custom button styles for actions in forms, dialogs, and more with support for multiple sizes, states, and more.</p>
                        </div>
                        <div class="card">
                            <h5 class="card-header">Basic Form</h5>
                            <div class="card-body">
                                <form method="POST" enctype="multipart/form-data" action="{% url 'editStaff'  url  %}">
                                    {% csrf_token %}
                                   
                                    <div class="form-group">
                                        <label for="id_name" class="col-form-label">{{form.name_ru.label}}</label>
                                        {{ form.name_ru }}
                                        
                                    </div>
                                    <div class="form-group">
                                        <label for="id_name" class="col-form-label">{{form.name_en.label}}</label>
                                        {{ form.name_en }}
                                        
                                    </div>
                                    <div class="form-group">
                                        <label for="id_name" class="col-form-label">{{form.name_kk.label}}</label>
                                        {{ form.name_kk }}
                                        
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label" for="id_slug">{{form.slug.label}}</label>
                                        {{form.slug}}
                                        <!-- {{form.slug}} -->
                                    </div>
                                    <div class="form-group">
                                        <label for="input-select">Выберите категорию</label>
                                        {{form.staffCat}} 
                                    </div>
                                    <div class="form-group">
                                        <label for="input-select">Выберите категорию</label>
                                        {{form.facult}} 
                                    </div>
                                    <div class="form-group">
                                        <label for="input-select">Выберите категорию</label>
                                        {{form.department}} 
                                    </div>
                                    <div class="form-group">
                                        <label for="input-select">Выберите категорию</label>
                                        {{form.educationalPrograms}} 
                                    </div>
                                    <div class="form-group" id="containerFacult"></div>
                                    <div class="form-group" id="containerDepartment"></div>
                                    <div class="form-group" id="containerEducationalPrograms"></div>
                                    <div class="form-group">
                                        <label for="id_email">{{form.email.label}}</label>
                                        {{form.email}}
                                    </div>
                                    <div class="form-group">
                                        <label for="inputText4" class="col-form-label">{{form.phone.label}}</label>
                                        {{form.phone}}
                                    </div>
                                    <div class="form-group">
                                        <label for="inputText4" class="col-form-label">{{form.adress.label}}</label>
                                        {{form.adress}}
                                    </div>
                                    <div class="custom-file mb-3">
                                        {{form.img}}
                                    </div>
                                    <div class="form-group">
                                        <label for="id_about">{{form.about_ru.label}}</label>
                                        {{form.about_ru}}
                                    </div>
                                    <div class="form-group">
                                        <label for="id_about">{{form.about_en.label}}</label>
                                        {{form.about_en}}
                                    </div>
                                    <div class="form-group">
                                        <label for="id_about">{{form.about_kk.label}}</label>
                                        {{form.about_kk}}
                                    </div>
                                   
                                    <button class="btn">Создать</button>
                                </form>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
   
</div>


<script>
    const selectCat = document.getElementById('id_staffCat');
    selectCat.setAttribute('class','form-control')
    const box = document.getElementById('containerFacult');
    const box2 = document.getElementById('containerDepartment');
    const box3 = document.getElementById('containerEducationalPrograms');
    const zag = document.createElement('option'); 
    zag.textContent =  "------";
    const url = 'swiu-panel/';
    selectCat.addEventListener('change',(e)=>{
        
        fetch('../get-facult-json/'+e.target.value)
        .then(response => response.json())
        .then((data)=> {
           
            const depData = data.data
            box.innerHTML = "";
            box2.innerHTML = "";
            box3.innerHTML = "";
            const selectd = document.createElement('select');
            let page = false
            selectd.setAttribute('name','facult');
            selectd.setAttribute('id','id_facult');
            selectd.setAttribute('class','form-control');
            
            selectd.appendChild(zag);
            depData.map(item=>{
                const option = document.createElement('option');
                option.setAttribute('value',item.id);
                
                if (item.title){
                    selectd.setAttribute('name','page');
                    selectd.setAttribute('id','id_page');
                    option.textContent =  item.title;
                    selectd.appendChild(option);
                    page = true;
                }
                else{
                    option.textContent =  item.name;
                    selectd.appendChild(option);
                    page = false
                }
                
                
            });
            if (selectd){
                box.appendChild(selectd);
                if (page == false){
                    selectd.addEventListener('change',(e)=>{
                    box2.innerHTML = "";
                    box3.innerHTML = "";
                    const depa = document.createElement('select');
                    
                    depa.setAttribute('name','department');
                    depa.setAttribute('id','id_department');
                    depa.setAttribute('class','form-control');
                    depa.appendChild(zag);
                    
                    fetch('../getd/'+e.target.value)
                    .then(response => response.json())
                    .then((departments)=>{
                        data = departments.data
                        
                        data.map(item=>{
                            const option = document.createElement('option');
                            option.setAttribute('value',item.id);
                            option.textContent =  item.name;
                            depa.appendChild(option);
                        });
                    });
                    if (depa){
                        box2.appendChild(depa);
                        
                        box3.innerHTML = ""
                        const op = document.createElement('select');
                        op.appendChild(zag);
                        op.setAttribute('name','educationalPrograms');
                        op.setAttribute('id','id_educationalPrograms');
                        op.setAttribute('multiple','multiple')
                        op.setAttribute('class','form-control');

                        depa.addEventListener('change',e=>{
                            getJson('../get-op-json/',e.target.value,op,box3)
                        })
                    }
                });
                }
               
            }
           
            
        })
    })
</script>
{% endblock %}