$silver: rgb(238, 238, 238);
$white: white;
$dark-silver:#969696;
$dark-blue:#12408b;
$green:rgb(17, 182, 122);
$red-c:#144ca3;
$red-inv:linear-gradient(90deg,rgb(150, 0, 24) 0%,   rgb(136, 15, 35));


$red: linear-gradient(90deg, rgba(250,112,66,1) 0%, rgba(148,34,0,1) 100%);
$red-inv:linear-gradient(90deg, rgba(148,34,0,1) 0%, rgba(250,112,66,1) 100%);

$blue:linear-gradient(90deg, #12408b 0%, rgb(8, 36, 80) 100%);
$blue-inv:linear-gradient(90deg,rgb(10, 37, 82) 0%, #12408b  100%);
