@import 'topBar.scss';
@import 'sign.scss';
@import './social.scss';
@import './logoArea.scss';
@import './menu.scss';
.header{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    position: relative;
    box-shadow: 0px 2px 10px rgba(0,25,74,0.1);
}
.icon-c-w{
    color:$white;
}
.icon-c{
    color:$red-c;
}